// COLORS
$color1: #046053;
$color2: #1d7064;
$color3: #4f9087;
$color4: #b4cfcb;
$color5: #ff7348;
$color6: #ff8f6d;
$color7: #ffd5c8;
$color8: #fff;
$color9: #f7f0ea;
$color10: #f9bb44;
$color11: #fac969;
