// CTAs
a {
  text-decoration: none;
}

.cta-primary,
.cta-secondary {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  &::before {
    content: "";
    width: 16px;
    height: 14px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
  margin-bottom: 20px;
}

.cta-primary {
  color: $color8;
  background-color: $color5;
  border-radius: 5rem;
  padding: 1rem 1.5rem 1rem 1.2rem;
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5975 6.51984C12.7944 4.17128 10.7593 2.49784 8.28607 2.15118L8.28641 2.15236C4.9195 1.68326 1.71869 3.90531 0.999497 7.21117C0.62138 8.94735 0.956403 10.7186 1.94297 12.1989C2.93008 13.6792 4.43892 14.6768 6.19152 15.0072C8.40858 15.4251 10.6514 14.6941 12.1916 13.0523C13.0268 12.0477 14.4773 9.33466 13.5975 6.51984Z' stroke='white' stroke-miterlimit='10'/%3E%3Cpath d='M6.70127 12.0507C4.80497 11.6932 3.55277 9.8592 3.91026 7.96291C4.26776 6.06661 6.10179 4.81441 7.99809 5.1719C9.89438 5.5294 11.1466 7.36343 10.7891 9.25973C10.4316 11.156 8.59756 12.4082 6.70127 12.0507Z' fill='white'/%3E%3C/svg%3E");
  }
  &:hover {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6054 6.51593C12.8022 4.16737 10.7671 2.49393 8.29389 2.14727L8.29423 2.14846C4.92731 1.67936 1.72651 3.90141 1.00731 7.20726C0.629192 8.94345 0.964215 10.7147 1.95078 12.1949C2.93789 13.6753 4.44673 14.6729 6.19934 15.0033C8.41639 15.4212 10.6593 14.6902 12.1994 13.0484C13.0346 12.0438 14.4851 9.33075 13.6054 6.51593Z' stroke='white' stroke-miterlimit='10'/%3E%3Cpath d='M6.12283 15.1557C2.51228 14.475 0.128079 10.983 0.808752 7.37247C1.48943 3.76192 4.98143 1.37772 8.59198 2.05839C12.2025 2.73907 14.5867 6.23107 13.9061 9.84162C13.2254 13.4522 9.73337 15.8364 6.12283 15.1557Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
  &.sm {
    padding: 0.5rem 1.5rem 0.5rem 1.2rem;
  }
}

// .cta-secondary {
//   color: $color5;
//   position: relative;
//   transform-origin: center;
//   &::before {
//     border-radius: 50%;
//     border: solid 1px $color5;
//     height: 16px;
//   }
//   &::after {
//     content: "";
//     display: block;
//     border-radius: 50%;
//     // height: 7px;
//     // width: 7px;
//     background-color: $color5;
//     position: absolute;
//     left: 5.75px;
//     transition: all 0.2s ease;
//     transform-origin: center;
//     transform: scale(1.2);
//   }
//   &:hover:after {
//     height: 16px;
//     width: 16px;
//   }
//   &.alt {
//     color: $color8;
//   }
// }

.cta-secondary {
  color: $color5;
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5975 6.51984C13.7944 4.17128 11.7593 2.49784 9.28607 2.15118L9.28641 2.15236C5.9195 1.68326 2.71869 3.90531 1.9995 7.21117C1.62138 8.94735 1.9564 10.7186 2.94297 12.1989C3.93008 13.6792 5.43892 14.6768 7.19152 15.0072C9.40858 15.4251 11.6514 14.6941 13.1916 13.0523C14.0268 12.0477 15.4773 9.33466 14.5975 6.51984Z' stroke='%23FF7348' stroke-miterlimit='10'/%3E%3Cpath d='M7.70127 12.0507C5.80497 11.6932 4.55277 9.8592 4.91026 7.96291C5.26776 6.06661 7.10179 4.81441 8.99809 5.1719C10.8944 5.5294 12.1466 7.36343 11.7891 9.25973C11.4316 11.156 9.59756 12.4082 7.70127 12.0507Z' fill='%23FF7348'/%3E%3C/svg%3E");
  }
  &:hover {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 15 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6054 6.51593C12.8022 4.16737 10.7671 2.49393 8.29389 2.14727L8.29423 2.14846C4.92731 1.67936 1.72651 3.90141 1.00731 7.20726C0.629192 8.94345 0.964215 10.7147 1.95078 12.1949C2.93789 13.6753 4.44673 14.6729 6.19934 15.0033C8.41639 15.4212 10.6593 14.6902 12.1994 13.0484C13.0346 12.0438 14.4851 9.33075 13.6054 6.51593Z' stroke='%23FF7348' stroke-miterlimit='10'/%3E%3Cpath d='M6.12283 15.1557C2.51228 14.475 0.128079 10.983 0.808752 7.37247C1.48943 3.76192 4.98143 1.37772 8.59198 2.05839C12.2025 2.73907 14.5867 6.23107 13.9061 9.84162C13.2254 13.4522 9.73337 15.8364 6.12283 15.1557Z' fill='%23FF7348'/%3E%3C/svg%3E");
    }
  }
  &.alt {
    color: $color8;
  }
}

.cta-link {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: $color5;
  position: relative;
  margin-bottom: 20px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 1px;
    width: 0%;
    background-color: $color5;
    transition: width 0.3s ease;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
  .left,
  .right {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 100%;
    border: solid 1px $color3;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: $color6;
      border-color: $color6;
    }
  }
  .left {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.56355 0.755384C5.96774 0.216453 6.77838 0.223247 7.17349 0.768875L7.48504 1.19912C7.74208 1.55408 7.73805 2.03503 7.4751 2.38563L5.21324 5.40144C4.71881 6.06068 5.1892 7.00144 6.01324 7.00144L16.375 7.00145C16.9273 7.00145 17.375 7.44916 17.375 8.00145L17.375 8.93407C17.375 9.48635 16.9273 9.93407 16.375 9.93407L6.01324 9.93406C5.1892 9.93406 4.71881 10.8748 5.21324 11.5341L7.4751 14.5499C7.73805 14.9005 7.74208 15.3814 7.48504 15.7364L7.17349 16.1666C6.77838 16.7123 5.96774 16.7191 5.56355 16.1801L0.229269 9.06775C-0.0373991 8.7122 -0.0373972 8.22331 0.229269 7.86775L5.56355 0.755384Z' fill='%23B4CFCB'/%3E%3C/svg%3E");
  }
  .right {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4365 16.2407C12.0323 16.7796 11.2216 16.7728 10.8265 16.2272L10.515 15.797C10.2579 15.442 10.262 14.9611 10.5249 14.6105L12.7868 11.5946C13.2812 10.9354 12.8108 9.99465 11.9868 9.99465H1.625C1.07272 9.99465 0.625 9.54693 0.625 8.99465V8.06202C0.625 7.50974 1.07272 7.06203 1.625 7.06203H11.9868C12.8108 7.06203 13.2812 6.12126 12.7868 5.46203L10.5249 2.44621C10.262 2.09561 10.2579 1.61466 10.515 1.2597L10.8265 0.829456C11.2216 0.283828 12.0323 0.277036 12.4365 0.815967L17.7707 7.92834C18.0374 8.28389 18.0374 8.77278 17.7707 9.12834L12.4365 16.2407Z' fill='%23B4CFCB'/%3E%3C/svg%3E%0A");
  }
}

.dots-container {
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
  // Barre derrière
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color4;
    position: absolute;
    top: 50%;
    left: 0;
  }
  .step {
    margin: 0;
    counter-increment: my-counter;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    color: $color4;
    position: relative;
    &::before {
      content: counter(my-counter);
      flex-shrink: 0;
      display: grid;
      place-items: center;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      border: solid 1px $color4;
      background-color: $color9;
      z-index: 3;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      border: solid 1px $color6;
      opacity: 0;
      z-index: 1;
    }
    &.open {
      color: $color1;
      &::before {
        color: $color9;
        background-color: $color6;
        width: 37px;
        height: 37px;
        border: none;
        margin-left: 5px;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}

.linkedin-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.226562' y='0.783203' width='20.0438' height='20.0438' rx='3.45582' fill='%231D7064'/%3E%3Cpath d='M7.15791 15.5978L7.15779 9.13006L4.72928 9.13011L4.7294 15.5979L7.15791 15.5978ZM5.94383 8.24649C6.7907 8.24647 7.31782 7.74982 7.31781 7.12917C7.30202 6.49453 6.79069 6.01168 5.95986 6.01169C5.12916 6.01171 4.58595 6.49459 4.58596 7.12922C4.58597 7.7499 5.11298 8.24651 5.92798 8.24649L5.94376 8.24649L5.94383 8.24649ZM8.50209 15.5978L10.9306 15.5978L10.9305 11.9858C10.9305 11.7925 10.9463 11.5994 11.0104 11.4612C11.186 11.075 11.5856 10.675 12.2564 10.675C13.1352 10.675 13.4868 11.2681 13.4868 12.1375L13.4869 15.5977L15.9152 15.5976L15.9151 11.8891C15.9151 9.90241 14.717 8.97807 13.1192 8.9781C11.8091 8.97813 11.2339 9.62637 10.9143 10.0679L10.9305 10.0679L10.9305 9.12985L8.50202 9.1299C8.5339 9.7368 8.50214 15.5977 8.50214 15.5977L8.50209 15.5978Z' fill='%23B4CFCB'/%3E%3C/svg%3E%0A");
  position: relative;
  background-size: contain;
  background-position: center;
  &:hover:before {
    opacity: 1;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='29' rx='5' fill='%23FF7348'/%3E%3Cpath d='M10.0252 21.434V12.0762H6.5115V21.434H10.0252ZM8.26878 10.7978C9.49405 10.7978 10.2567 10.0793 10.2567 9.1813C10.2339 8.26308 9.4941 7.56445 8.29203 7.56445C7.09015 7.56445 6.3042 8.26309 6.3042 9.1813C6.3042 10.0793 7.06668 10.7978 8.24584 10.7978H8.26867H8.26878ZM11.9699 21.434H15.4836V16.2082C15.4836 15.9285 15.5064 15.6491 15.5992 15.4492C15.8532 14.8904 16.4314 14.3116 17.402 14.3116C18.6734 14.3116 19.1821 15.1698 19.1821 16.4277V21.4339H22.6955V16.0683C22.6955 13.194 20.9621 11.8566 18.6503 11.8566C16.7548 11.8566 15.9226 12.7944 15.4602 13.4332H15.4837V12.0761H11.97C12.0161 12.9541 11.97 21.4338 11.97 21.4338L11.9699 21.434Z' fill='%23FFD5C8'/%3E%3C/svg%3E%0A");
    opacity: 0;
    position: absolute;
    z-index: 3;
    transition: opacity 0.3s ease;
  }
}
