.fit-contain {
  margin: 0;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.fit-cover {
  margin: 0;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.background {
  background-image: url(../../assets/img/background.jpg);
  background-size: 1280px 905px;
  background-repeat: repeat;
}
