.two-columns {
  margin: 10.5rem 0;
  &.alt .content-container {
    @media screen and (min-width: $medium) {
      flex-direction: row-reverse;
    }
  }
  .content-container {
    border-radius: 2rem;
    overflow: hidden;
    @media screen and (min-width: $medium) {
      display: flex;
    }
    .text-content {
      padding: 4.5rem 2rem;
      @media screen and (min-width: $medium) {
        width: calc(100% / 12 * 7);
        flex-shrink: 0;
        padding: 6rem calc(100% / 7);
        display: grid;
        align-content: center;
      }
    }
    .text {
      margin: 0;
    }
    .slider {
      position: relative;
      .slide {
        @media screen and (min-width: $medium) {
          height: 100%;
        }
        &:hover {
          .legend {
            transform: translateY(0);
          }
        }
      }
      .illustration {
        width: 100%;
        aspect-ratio: 375/236;
        border-radius: 2rem;
        overflow: hidden;
        margin: 0;
        position: relative;
        top: 3px;
        @media screen and (min-width: $medium) {
          top: 0;
          aspect-ratio: 495/398;
          height: 100%;
        }
        .legend {
          position: absolute;
          width: 100%;
          top: 0;
          padding: 1rem;
          background-color: $color9;
          color: $color1;
          font-size: 1.4rem;
          transform: translateY(-100%);
          transition: all 0.3s ease;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .buttons {
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 3;
        margin: 0;
      }
    }
  }
}
