.advantages {
  position: relative;
  &.after-title {
    padding-top: 0;
  }
  padding: 3rem 0 7.5rem;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: unset;
    height: 90%;
    width: calc(100% / 3);
    background-image: url("data:image/svg+xml,%3Csvg width='632' height='642' viewBox='0 0 632 642' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M321.165 250.017C289.666 195.096 291.839 128.112 326.814 75.1753L326.831 75.2018C374.497 3.18452 470.948 -20.2588 546.412 21.833C586.051 43.9313 614.362 80.1983 626.132 123.959C637.894 167.733 631.623 213.292 608.464 252.235C579.166 301.498 527.412 331.863 470.028 333.481C446.7 334.135 425.608 346.58 413.599 366.772L344.301 483.297C326.328 513.518 290.972 530.812 256.07 526.583L270.007 581.422C270.365 582.832 270.654 584.25 270.869 585.624C270.938 586.046 270.995 586.58 271.056 587.153C271.076 587.346 271.097 587.542 271.119 587.74L271.229 588.741C271.309 589.378 271.384 590.079 271.421 590.789C271.45 591.43 271.453 592.087 271.455 592.744L271.454 593.711C271.456 594.287 271.452 594.874 271.427 595.466C271.391 596.133 271.331 596.786 271.28 597.313L271.166 598.442C271.157 598.535 271.148 598.631 271.139 598.728C271.096 599.184 271.048 599.688 270.974 600.198C270.914 600.629 270.834 601.048 270.754 601.468C270.727 601.608 270.7 601.748 270.674 601.888L270.444 603.047C270.347 603.596 270.219 604.225 270.067 604.84C269.947 605.317 269.801 605.802 269.668 606.241C269.642 606.327 269.617 606.41 269.592 606.492L269.284 607.506C269.098 608.15 268.922 608.75 268.692 609.384C268.463 610.018 268.195 610.662 267.958 611.226L267.536 612.238C267.251 612.938 266.959 613.649 266.7 614.168C265.477 616.72 264.022 619.167 262.356 621.472C262.025 621.947 261.531 622.555 261.053 623.139L260.358 624.005L260.317 624.057C259.933 624.542 259.541 625.038 259.09 625.53C258.732 625.931 258.354 626.309 257.983 626.681C257.898 626.766 257.814 626.85 257.73 626.935L257.008 627.653C256.618 628.061 256.201 628.485 255.748 628.888C255.288 629.303 254.797 629.716 254.361 630.064L253.46 630.807C253.036 631.161 252.6 631.508 252.144 631.861C251.636 632.247 251.137 632.59 250.652 632.908L249.775 633.501L249.716 633.541C249.194 633.89 248.719 634.208 248.203 634.518C247.74 634.8 247.253 635.068 246.662 635.372L246.228 635.606C245.273 636.136 244.694 636.448 244.052 636.755C243.437 637.045 242.812 637.297 242.252 637.521L241.646 637.768C240.792 638.129 239.88 638.504 239.257 638.724C237.881 639.218 236.505 639.629 235.173 639.968C233.84 640.307 232.441 640.59 231.002 640.833C230.475 640.914 229.757 640.99 229.077 641.062C228.965 641.074 228.854 641.086 228.745 641.098L227.873 641.186C227.749 641.198 227.625 641.212 227.5 641.225C226.941 641.284 226.377 641.344 225.812 641.37C225.216 641.409 224.64 641.411 223.939 641.404L222.82 641.411C222.308 641.418 221.701 641.417 221.078 641.391C220.523 641.37 219.96 641.314 219.457 641.264C219.32 641.25 219.188 641.237 219.061 641.225L218.145 641.139C217.567 641.09 216.989 641.042 216.402 640.955C215.859 640.881 215.334 640.779 214.82 640.678C214.758 640.667 214.697 640.655 214.636 640.643L213.639 640.443C213.023 640.323 212.406 640.202 211.772 640.054C211.189 639.904 210.645 639.745 210.119 639.58L209.074 639.27C208.51 639.115 207.867 638.929 207.22 638.692C206.708 638.516 206.206 638.306 205.709 638.097C205.572 638.04 205.435 637.982 205.298 637.926L204.403 637.557C203.771 637.296 203.011 636.976 202.473 636.721C201.161 636.089 199.889 635.414 198.678 634.694L23.5392 530.537C0.706566 516.958 -6.81921 487.346 6.75959 464.514C20.3384 441.681 49.9576 434.143 72.7902 447.722L159.494 499.285L120.747 371.909C117.367 358.651 119.31 345.705 126.406 334.381C133.354 323.166 144.287 315.452 157.2 312.653C182.235 307.226 207.85 323.46 214.301 348.842L244.678 444.497L320.027 317.797C332.591 296.673 333.026 270.713 321.165 250.017ZM508.382 94.989C548.185 118.66 561.312 170.312 537.641 210.115C513.97 249.917 462.318 263.044 422.515 239.373C382.712 215.702 369.585 164.05 393.256 124.248C416.927 84.4451 468.579 71.3179 508.382 94.989Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: right;
    @media screen and (min-width: $large) {
      content: "";
    }
  }
  @media screen and (min-width: $large) {
    padding: 6rem 0 10.5rem;
  }
  .title-bloc {
    margin-bottom: 4.5rem;
  }
  .link {
    margin: 0 auto;
  }
  .content-bloc {
    position: relative;
  }
  .illustration {
    width: 80%;
    aspect-ratio: 320/450;
    min-height: 513px;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: 2rem;
    right: 0;
    max-height: 52rem;
    @media screen and (min-width: $large) {
      position: relative;
      width: 390px;
      height: 580px;
      margin: 0 auto;
    }
    img {
      background-position: top;
    }
  }
  .items-list {
    padding-left: 2rem;
    list-style-type: none;
    @media screen and (min-width: $large) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
    }
    .item {
      padding: 1rem 1rem 1rem 3.5rem;
      background-color: $color9;
      border-radius: 0.5rem;
      max-width: 22rem;
      position: relative;
      margin-bottom: 4rem;
      transition: all 2s;
      box-shadow: 0px 0px 24px 0px #01352d26;
      &.hidden {
        transform: scale(0.85);
        opacity: 0;
      }
      &.show {
        transform: scale(1);
        opacity: 1;
      }
      &:nth-child(even) {
        left: 2.5rem;
      }
      @media screen and (min-width: $large) {
        max-width: 31rem;
        min-height: 8rem;
        display: flex;
        align-items: center;
        &:nth-child(1) {
          left: -24rem;
        }
        &:nth-child(2) {
          left: unset;
          right: -20rem;
          top: 8rem;
        }
        &:nth-child(3) {
          left: -32rem;
        }
        &:nth-child(4) {
          left: unset;
          right: -38rem;
        }
        &:nth-child(5) {
          left: -20rem;
        }
      }
      &::before {
        content: "";
        height: 4.2rem;
        width: 4.2rem;
        top: 50%; // Centrage vertical par rapport au parent
        left: 0; // Alignement à gauche du conteneur (ou right: 0; selon ton besoin)
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
        border-radius: 0.7rem;
        background-color: $color4;
        background-size: 3.2rem;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
@media (prefers-reduced-motion) {
  .item {
    transition: none;
  }
}
