.advantages {
  padding: 3rem 0 7.5rem;
  @media screen and (min-width: $small) {
    padding: 6rem 0 18rem;
  }
  .title-bloc {
    margin-bottom: 4.5rem;
  }
  .link {
    margin: 0 auto;
  }
  .content-bloc {
    position: relative;
  }
  .illustration {
    width: 80%;
    aspect-ratio: 320/450;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: 2rem;
    right: 0;
    @media screen and (min-width: $small) {
      position: relative;
      width: calc(100% / 3);
      aspect-ratio: 390/581;
      margin: 0 auto;
      max-width: 40rem;
    }
  }
  .items-list {
    padding-left: 2rem;
    list-style-type: none;
    @media screen and (min-width: $small) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
    }
    .item {
      padding: 1rem 1rem 1rem 3.5rem;
      background-color: #fff;
      border-radius: 0.5rem;
      max-width: 22rem;
      position: relative;
      margin-bottom: 4rem;
      transition: all 1s;

      &.hidden {
        transform: scale(0.85);
        opacity: 0;
      }
      &.show {
        transform: scale(1);
        opacity: 1;
      }
      &:nth-child(even) {
        left: 2.5rem;
      }
      @media screen and (min-width: $small) {
        max-width: 31rem;
        min-height: 8rem;
        display: flex;
        align-items: center;
        &:nth-child(1) {
          left: -24rem;
        }
        &:nth-child(2) {
          left: unset;
          right: -20rem;
        }
        &:nth-child(3) {
          left: -32rem;
        }
        &:nth-child(4) {
          left: unset;
          right: -38rem;
        }
        &:nth-child(5) {
          left: -20rem;
        }
      }
      &::before {
        content: "";
        height: 4.2rem;
        width: 4.2rem;
        top: 50%; // Centrage vertical par rapport au parent
        left: 0; // Alignement à gauche du conteneur (ou right: 0; selon ton besoin)
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
      }
      &.house::before {
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='42' height='42' rx='6.42857' fill='%23B4CFCB'/%3E%3Cg filter='url(%23filter0_i_648_27028)'%3E%3Cpath d='M30.9999 20.2004V30.8294C30.9999 31.0643 30.909 31.2896 30.7471 31.4557C30.5853 31.6218 30.3657 31.7151 30.1368 31.7151H24.0952C23.8663 31.7151 23.6467 31.6218 23.4849 31.4557C23.323 31.2896 23.2321 31.0643 23.2321 30.8294V25.072C23.2321 24.9546 23.1866 24.8419 23.1057 24.7589C23.0247 24.6758 22.915 24.6291 22.8005 24.6291H18.485C18.3706 24.6291 18.2608 24.6758 18.1799 24.7589C18.099 24.8419 18.0535 24.9546 18.0535 25.072V30.8294C18.0535 31.0643 17.9626 31.2896 17.8007 31.4557C17.6388 31.6218 17.4193 31.7151 17.1904 31.7151H11.1487C10.9198 31.7151 10.7003 31.6218 10.5384 31.4557C10.3766 31.2896 10.2856 31.0643 10.2856 30.8294V20.2004C10.2859 19.7307 10.4679 19.2802 10.7916 18.9482L19.4226 10.0907C19.7463 9.75875 20.1852 9.57227 20.6428 9.57227C21.1004 9.57227 21.5393 9.75875 21.863 10.0907L30.4939 18.9482C30.8177 19.2802 30.9997 19.7307 30.9999 20.2004Z' stroke='%234F9087' stroke-width='2.85714' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_648_27028' x='8.85718' y='8.14453' width='23.5713' height='25.7143' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.714286'/%3E%3CfeGaussianBlur stdDeviation='1.14286'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_648_27028'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
      &.thumb:before {
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='42' height='42' rx='6.42857' fill='%23B4CFCB'/%3E%3Cg filter='url(%23filter0_i_648_27043)'%3E%3Cpath d='M28.2445 31.1783L31.2686 20.1561C31.3159 19.9834 31.3238 19.8018 31.2915 19.6255C31.2592 19.4492 31.1877 19.283 31.0825 19.1399C30.9774 18.9969 30.8414 18.881 30.6854 18.8012C30.5294 18.7215 30.3576 18.6801 30.1834 18.6803H23.7186C23.6259 18.6803 23.5344 18.6587 23.4509 18.6173C23.3674 18.5758 23.2941 18.5154 23.2364 18.4407C23.1787 18.366 23.1381 18.2788 23.1177 18.1857C23.0972 18.0926 23.0974 17.9959 23.1182 17.9029L23.3998 16.6475C23.6577 15.496 23.7405 14.3097 23.6453 13.132L23.5935 12.4922C23.538 11.8057 23.2481 11.1617 22.7753 10.6747C22.3427 10.2292 21.7561 9.97887 21.1445 9.97852H21.0093C20.6393 9.97852 20.2986 10.185 20.1195 10.518L18.6222 13.2939C17.9509 14.5389 16.9503 15.5619 15.7366 16.2438L11.9867 18.3496C11.8089 18.4495 11.6606 18.597 11.5573 18.7765C11.454 18.956 11.3997 19.1608 11.3999 19.3694V30.8627C11.3999 31.1704 11.5186 31.4656 11.7298 31.6831C11.941 31.9007 12.2275 32.023 12.5262 32.023H27.1605C27.4057 32.0229 27.6442 31.9404 27.8398 31.7879C28.0353 31.6355 28.1778 31.4214 28.2445 31.1783Z' stroke='%234F9087' stroke-width='2.85714' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_648_27043' x='9.97144' y='8.55078' width='22.7681' height='25.6147' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.714286'/%3E%3CfeGaussianBlur stdDeviation='1.14286'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_648_27043'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
      &.speak:before {
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='42' height='42' rx='6.42857' fill='%23B4CFCB'/%3E%3Cg filter='url(%23filter0_i_648_27033)'%3E%3Cpath d='M30.2857 20.6428C30.2873 21.9089 30.0391 23.1628 29.5552 24.3327C29.0713 25.5027 28.3613 26.5656 27.4658 27.4606C26.57 28.3567 25.5063 29.0674 24.3355 29.5522C23.1648 30.0369 21.91 30.2862 20.6429 30.2857C19.2792 30.2887 17.9305 30.0008 16.6868 29.4413L12.6556 30.0376C12.4554 30.0703 12.2503 30.0536 12.0581 29.989C11.8658 29.9244 11.6923 29.8139 11.5525 29.667C11.4126 29.52 11.3108 29.3412 11.2558 29.146C11.2008 28.9508 11.1943 28.7451 11.2368 28.5469L11.7966 24.4572C11.2641 23.2565 10.9926 21.9564 11.0002 20.6428C10.9985 19.3768 11.2468 18.1229 11.7307 16.953C12.2146 15.783 12.9246 14.7201 13.82 13.8251C14.7159 12.929 15.7796 12.2183 16.9503 11.7335C18.121 11.2488 19.3758 10.9995 20.6429 11C23.2018 11.0002 25.6559 12.0163 27.4658 13.8251C28.3608 14.7204 29.0705 15.7834 29.5544 16.9533C30.0383 18.1231 30.2868 19.3769 30.2857 20.6428Z' stroke='%234F9087' stroke-width='2.85714' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_648_27033' x='9.57153' y='9.57227' width='22.1428' height='22.8569' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.714286'/%3E%3CfeGaussianBlur stdDeviation='1.14286'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_648_27033'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
      &.person:before {
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='42' height='42' rx='6.42857' fill='%23B4CFCB'/%3E%3Cg filter='url(%23filter0_i_648_27048)'%3E%3Cpath d='M20.9999 9.26562C22.5559 9.26563 24.0481 9.88372 25.1483 10.9839C26.2485 12.0841 26.8666 13.5764 26.8666 15.1323C26.8666 16.6882 26.2485 18.1804 25.1483 19.2807C24.0481 20.3809 22.5559 20.999 20.9999 20.999C19.444 20.999 17.9518 20.3809 16.8516 19.2807C15.7514 18.1804 15.1333 16.6882 15.1333 15.1323C15.1333 13.5764 15.7514 12.0841 16.8516 10.9839C17.9518 9.88372 19.444 9.26563 20.9999 9.26562ZM20.9999 23.9323C27.4826 23.9323 32.7333 26.5576 32.7333 29.799V32.7323H9.2666V29.799C9.2666 26.5576 14.5173 23.9323 20.9999 23.9323Z' stroke='%234F9087' stroke-width='2.85714' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_648_27048' x='7.83813' y='7.83789' width='26.3237' height='27.0366' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.714286'/%3E%3CfeGaussianBlur stdDeviation='1.14286'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_648_27048'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
      &.people:before {
        background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='42' height='42' rx='6.42857' fill='%23B4CFCB'/%3E%3Cg filter='url(%23filter0_i_648_27038)'%3E%3Cpath d='M23.2352 20.0438C28.3478 20.0438 34.0842 22.1941 34.0842 24.7504V27.0638H23.2352M24.8306 8.55664C26.0577 8.55664 27.2346 9.0441 28.1023 9.91179C28.97 10.7795 29.4574 11.9563 29.4574 13.1834C29.4574 14.4105 28.97 15.5874 28.1023 16.455C27.2346 17.3227 26.0577 17.8102 24.8306 17.8102C23.6035 17.8102 22.4267 17.3227 21.559 16.455C20.6913 15.5874 20.2039 14.4105 20.2039 13.1834C20.2039 11.9563 20.6913 10.7795 21.559 9.91179C22.4267 9.0441 23.6035 8.55664 24.8306 8.55664Z' stroke='%234F9087' stroke-width='2.85714' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cg filter='url(%23filter1_i_648_27038)'%3E%3Cpath d='M17.8095 14.9375C19.0366 14.9375 20.2134 15.425 21.0811 16.2927C21.9488 17.1603 22.4362 18.3372 22.4362 19.5643C22.4362 20.7914 21.9488 21.9682 21.0811 22.8359C20.2134 23.7036 19.0366 24.1911 17.8095 24.1911C16.5824 24.1911 15.4055 23.7036 14.5378 22.8359C13.6702 21.9682 13.1827 20.7914 13.1827 19.5643C13.1827 18.3372 13.6702 17.1603 14.5378 16.2927C15.4055 15.425 16.5824 14.9375 17.8095 14.9375ZM17.8095 26.5045C22.9221 26.5045 27.063 28.5749 27.063 31.1312V33.4446H8.55591V31.1312C8.55591 28.5749 12.6969 26.5045 17.8095 26.5045Z' stroke='%234F9087' stroke-width='2.85714' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_648_27038' x='18.7754' y='7.12891' width='16.7373' height='22.0776' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.714286'/%3E%3CfeGaussianBlur stdDeviation='1.14286'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_648_27038'/%3E%3C/filter%3E%3Cfilter id='filter1_i_648_27038' x='7.12744' y='13.5098' width='21.3643' height='22.0776' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.714286'/%3E%3CfeGaussianBlur stdDeviation='1.14286'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_648_27038'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }
}
@media (prefers-reduced-motion) {
  .item {
    transition: none;
  }
}
