.choice-form {
  padding: 25rem 0 16rem;
  .choice-container {
    background-color: $color9;
    border-radius: 1.5rem;
    padding: 3rem 3rem 6rem;
    overflow: hidden;
  }
  .card {
    background-color: #fff;
    display: grid;
    align-content: center;
    border-radius: 0.5rem;
    padding: 2rem;
    border: solid 1px #fff;
    transition: all 0.3s ease;
    &:hover,
    &.selected {
      border-color: $color6;
      box-shadow: 0px 0px 24px 0px #c6b6a980;
    }
    .text-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      //   max-width: 20rem;
      margin: 0 auto;
      &::before {
        content: "";
        height: 4.3rem;
        width: 4.3rem;
      }
    }
  }
  .swiper-wrapper {
    align-items: stretch;
    .swiper-slide {
      height: auto;
    }
  }
  .next-btn {
    transition: opacity ease 0.3s;
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  .loc-first {
    position: relative;
    .cards-container {
      display: flex;
      gap: 3rem;
      margin-bottom: 8rem;

      .button {
        width: 50%;
        cursor: pointer;
        height: 21.5rem;
      }
    }
    .next-btn {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .loc-second {
    // .content-wrapper {
    //   display: flex;
    //   gap: 4.5rem;
    //   .result {
    //     width: 45%;
    //   }
    //   .id-form {
    //     width: 55%;
    //   }
    // }
    .text-content {
      max-width: 100rem;
      margin: 0 auto;
      a {
        color: $color5;
      }
    }
  }

  .next-btn {
    margin: 0 auto;
    cursor: pointer;
  }
  .contact-slide {
    .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      @media screen and (min-width: $extra-large) {
        flex-direction: row;
      }
      .title {
        @media screen and (min-width: $extra-large) {
          width: 45%;
        }
      }
      .choice-content {
        @media screen and (min-width: $extra-large) {
          width: 55%;
        }
        .choices {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 10rem;
          @media screen and (min-width: $extra-large) {
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);
          }
          &.two-items {
            @media screen and (min-width: $extra-large) {
              grid-template-columns: repeat(2, 1fr);
              gap: 6rem 1rem;
            }
          }
        }
        .choice-item {
          background-color: #fff;
          padding: 1rem;
          border-radius: 0.5rem;
          display: grid;
          align-content: center;
          position: relative;
          &.selected .popup {
            animation: appear 0.3s ease-out forwards;
          }
          cursor: pointer;
          .popup {
            color: $color5;
            position: absolute;
            width: 100%;
            bottom: -6rem;
            left: 0;
            opacity: 0;
            transform: translateY(-10px);
            transition: all 0.3s ease;
            &.mail {
              font-size: 1.4rem;
            }

            @keyframes appear {
              from {
                opacity: 0;
                transform: translateY(-10px);
              }
              to {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
        .text-content {
          margin-bottom: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-items: center;
          &::before {
            content: "";
            height: 4.5rem;
            width: 4.5rem;
          }
        }
        .plus {
          padding: 1.5rem 0.5rem;
          border-radius: 0.5rem;
          background-color: $color4;
          margin: 0;
        }
      }
    }
  }
}
