.faq-bloc {
  padding: 105px 0;
  // background: url(../../assets/img/background.jpg);
  // background-size: 1280px 905px;
  background-position: top;
  &.purple,
  &.yellow,
  &.orange {
    // background: url(../../assets/img/gradient-violet.png);
    // background-size: 100%;
    .question {
      color: #fff !important;
    }
  }
  .content-wrapper {
    @media screen and (min-width: $medium) {
      display: flex;
      justify-content: space-between;
    }
  }
  .left {
    @media screen and (min-width: $medium) {
      width: calc(100% / 12 * 5);
    }
  }
  .right {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (min-width: $medium) {
      width: calc(100% / 2);
      margin-top: 0;
    }
    .question-bloc {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 0.5rem;
      padding: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      overflow: hidden;
      .question {
        color: $color4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        &::after {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='14' viewBox='0 0 25 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0783 1.84191C16.0688 2.12357 14.4153 3.48324 13.7628 5.39144C13.5167 6.1103 12.8844 6.64694 12.112 6.79256L7.47903 7.66598L9.13291 4.92619C9.60577 4.23757 9.45414 3.28483 8.79489 2.80234C8.45489 2.55347 8.03873 2.45537 7.62275 2.52604C7.20103 2.5955 6.84927 2.82195 6.60249 3.1819L4.36417 6.78965L3.76965 3.63612C3.61309 2.80566 2.80633 2.25837 1.97142 2.41577C1.13652 2.57316 0.584845 3.37655 0.741406 4.20701L1.94232 10.5771C1.95062 10.6211 1.96131 10.6657 1.97385 10.7103C1.97911 10.7285 1.98747 10.7533 1.99456 10.7739L2.00463 10.803C2.01172 10.8236 2.01845 10.8447 2.02686 10.865C2.03484 10.8854 2.04397 10.9047 2.05217 10.9214L2.06681 10.9528C2.07395 10.9688 2.08162 10.9851 2.09034 11.0022C2.1002 11.0204 2.11033 11.0377 2.12046 11.0549L2.13674 11.0829C2.14618 11.0989 2.1557 11.1153 2.16656 11.1316C2.17688 11.1474 2.18793 11.1622 2.19897 11.177L2.21627 11.2006C2.2274 11.2159 2.24061 11.2348 2.25489 11.2522C2.26743 11.2676 2.28025 11.2821 2.29124 11.2942L2.31505 11.3207C2.32969 11.3376 2.3419 11.3512 2.35544 11.3647C2.3708 11.3805 2.38733 11.3951 2.40341 11.4099L2.42395 11.4288C2.44222 11.4455 2.46277 11.4644 2.47799 11.477C2.51423 11.5063 2.55058 11.5336 2.58687 11.5583C2.62316 11.5829 2.66211 11.607 2.70303 11.6294C2.72146 11.6396 2.74975 11.6535 2.77647 11.6662L2.79518 11.6755C2.8124 11.6841 2.83164 11.6937 2.8516 11.7022C2.87253 11.7111 2.89224 11.7183 2.92515 11.7299L2.93994 11.7353C2.95973 11.743 2.97645 11.749 2.993 11.7541C3.01202 11.7601 3.03035 11.7648 3.05061 11.7701L3.08339 11.7785C3.10127 11.7834 3.12004 11.788 3.14005 11.792C3.15813 11.7955 3.17568 11.7985 3.19315 11.8012L3.23002 11.807C3.24757 11.8101 3.26787 11.8131 3.28755 11.8153C3.30679 11.8176 3.32578 11.8186 3.3438 11.8193L3.3763 11.8214C3.3967 11.8226 3.41763 11.8241 3.43875 11.8242C3.46084 11.8246 3.48171 11.8234 3.50214 11.8223L3.53761 11.8206C3.56174 11.8197 3.58677 11.8187 3.60518 11.8166C3.6957 11.8077 3.78517 11.7909 3.87226 11.7662C3.89017 11.7615 3.91342 11.7534 3.93623 11.7455L3.96943 11.7342C3.98797 11.728 4.00909 11.7208 4.02916 11.7129C4.04923 11.705 4.06737 11.6966 4.08674 11.6875L4.11758 11.6734C4.13278 11.6665 4.15055 11.6586 4.16727 11.6499C4.18524 11.6406 4.20304 11.6304 4.21826 11.6212L4.25093 11.6022C4.2666 11.5929 4.28235 11.584 4.29785 11.5738C4.3146 11.5628 4.33029 11.5512 4.34402 11.5413L4.37353 11.5203C4.38726 11.5104 4.4042 11.498 4.42098 11.4848C4.43571 11.4729 4.44991 11.4607 4.46367 11.4485L4.48689 11.4282C4.50261 11.4143 4.51834 11.4003 4.53309 11.3862C4.54937 11.3703 4.56459 11.3538 4.57821 11.3384L4.59989 11.3147C4.617 11.296 4.63383 11.2782 4.6454 11.2642C4.67383 11.2301 4.70176 11.1933 4.72803 11.1551L5.74968 9.66724C6.38568 10.5884 7.54778 11.0669 8.65287 10.8586L12.9138 10.0553C13.6521 9.9161 14.3965 10.1567 14.9051 10.6991C16.1565 12.033 17.9788 12.627 19.7801 12.2874C21.2041 12.0189 22.4301 11.2084 23.2321 10.0056C24.0337 8.80294 24.3059 7.3638 23.9987 5.95315C23.4143 3.26714 20.8137 1.46173 18.0781 1.84287L18.0783 1.84191Z' stroke='%23FF7348' stroke-miterlimit='10'/%3E%3Cpath d='M19.3677 9.88448C20.9085 9.59401 21.9259 8.10386 21.6354 6.56312C21.3449 5.02238 19.8548 4.00497 18.3141 4.29543C16.7733 4.5859 15.7559 6.07605 16.0464 7.61679C16.3368 9.15753 17.827 10.1749 19.3677 9.88448Z' fill='%23FF7348'/%3E%3C/svg%3E");
          width: 2.5rem;
          height: 1.4rem;
          flex-shrink: 0;
          transition: transform 0.3s ease;
        }
      }
      .answer {
        color: $color1;
      }
      .cta {
        margin-bottom: 0;
      }
      &.open {
        background-color: $color9;
        .question {
          color: $color1;
          &::after {
            transform: rotate(-0.25turn);
            // transform-origin: center right;
          }
        }
      }
    }
  }
}
