.footer {
  padding: 4.5rem 0;
  position: relative;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='632' height='642' viewBox='0 0 632 642' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' fill-rule='evenodd' clip-rule='evenodd' d='M321.165 250.017C289.666 195.096 291.839 128.112 326.814 75.1753L326.831 75.2018C374.497 3.18452 470.948 -20.2588 546.412 21.833C586.051 43.9313 614.362 80.1983 626.132 123.959C637.894 167.733 631.623 213.292 608.464 252.235C579.166 301.498 527.412 331.863 470.028 333.481C446.7 334.135 425.608 346.58 413.599 366.772L344.301 483.297C326.328 513.518 290.972 530.812 256.07 526.583L270.007 581.422C270.365 582.832 270.654 584.25 270.869 585.624C270.938 586.046 270.995 586.58 271.056 587.153C271.076 587.346 271.097 587.542 271.119 587.74L271.229 588.741C271.309 589.378 271.384 590.079 271.421 590.789C271.45 591.43 271.453 592.087 271.455 592.744L271.454 593.711C271.456 594.287 271.452 594.874 271.427 595.466C271.391 596.133 271.331 596.786 271.28 597.313L271.166 598.442C271.157 598.535 271.148 598.631 271.139 598.728C271.096 599.184 271.048 599.688 270.974 600.198C270.914 600.629 270.834 601.048 270.754 601.468C270.727 601.608 270.7 601.748 270.674 601.888L270.444 603.047C270.347 603.596 270.219 604.225 270.067 604.84C269.947 605.317 269.801 605.802 269.668 606.241C269.642 606.327 269.617 606.41 269.592 606.492L269.284 607.506C269.098 608.15 268.922 608.75 268.692 609.384C268.463 610.018 268.195 610.662 267.958 611.226L267.536 612.238C267.251 612.938 266.959 613.649 266.7 614.168C265.477 616.72 264.022 619.167 262.356 621.472C262.025 621.947 261.531 622.555 261.053 623.139L260.358 624.005L260.317 624.057C259.933 624.542 259.541 625.038 259.09 625.53C258.732 625.931 258.354 626.309 257.983 626.681C257.898 626.766 257.814 626.85 257.73 626.935L257.008 627.653C256.618 628.061 256.201 628.485 255.748 628.888C255.288 629.303 254.797 629.716 254.361 630.064L253.46 630.807C253.036 631.161 252.6 631.508 252.144 631.861C251.636 632.247 251.137 632.59 250.652 632.908L249.775 633.501L249.716 633.541C249.194 633.89 248.719 634.208 248.203 634.518C247.74 634.8 247.253 635.068 246.662 635.372L246.228 635.606C245.273 636.136 244.694 636.448 244.052 636.755C243.437 637.045 242.812 637.297 242.252 637.521L241.646 637.768C240.792 638.129 239.88 638.504 239.257 638.724C237.881 639.218 236.505 639.629 235.173 639.968C233.84 640.307 232.441 640.59 231.002 640.833C230.475 640.914 229.757 640.99 229.077 641.062C228.965 641.074 228.854 641.086 228.745 641.098L227.873 641.186C227.749 641.198 227.625 641.212 227.5 641.225C226.941 641.284 226.377 641.344 225.812 641.37C225.216 641.409 224.64 641.411 223.939 641.404L222.82 641.411C222.308 641.418 221.701 641.417 221.078 641.391C220.523 641.37 219.96 641.314 219.457 641.264C219.32 641.25 219.188 641.237 219.061 641.225L218.145 641.139C217.567 641.09 216.989 641.042 216.402 640.955C215.859 640.881 215.334 640.779 214.82 640.678C214.758 640.667 214.697 640.655 214.636 640.643L213.639 640.443C213.023 640.323 212.406 640.202 211.772 640.054C211.189 639.904 210.645 639.745 210.119 639.58L209.074 639.27C208.51 639.115 207.867 638.929 207.22 638.692C206.708 638.516 206.206 638.306 205.709 638.097C205.572 638.04 205.435 637.982 205.298 637.926L204.403 637.557C203.771 637.296 203.011 636.976 202.473 636.721C201.161 636.089 199.889 635.414 198.678 634.694L23.5392 530.537C0.706566 516.958 -6.81921 487.346 6.75959 464.514C20.3384 441.681 49.9576 434.143 72.7902 447.722L159.494 499.285L120.747 371.909C117.367 358.651 119.31 345.705 126.406 334.381C133.354 323.166 144.287 315.452 157.2 312.653C182.235 307.226 207.85 323.46 214.301 348.842L244.678 444.497L320.027 317.797C332.591 296.673 333.026 270.713 321.165 250.017ZM508.382 94.989C548.185 118.66 561.312 170.312 537.641 210.115C513.97 249.917 462.318 263.044 422.515 239.373C382.712 215.702 369.585 164.05 393.256 124.248C416.927 84.4451 468.579 71.3179 508.382 94.989Z' fill='white'/%3E%3C/svg%3E");
    background-position: left top -10rem;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  &:before {
    content: "";
    border-radius: 2rem 2rem 0 0;
    border-top: solid 1px $color9;
    width: 100%;
    height: 1.5rem;
    background-image: url(../../assets/img/background.jpg);
    background-size: 1280px 905px;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media screen and (min-width: $large) {
    padding: 8rem 0 3rem;
  }
  .top-container {
    @media screen and (min-width: $large) {
      display: flex;
      padding: 0;
      padding-bottom: 4.5rem;
      border-bottom: solid 1px rgba($color: #fff, $alpha: 0.15);
      margin-bottom: 4.5rem;
      gap: 3rem;
    }
  }
  .description {
    padding-bottom: 3rem;
    border-bottom: solid 1px rgba($color: #fff, $alpha: 0.15);
    width: calc(100% / 12 * 5);
    @media screen and (min-width: $large) {
      border-bottom: unset;
      display: flex;
      gap: 4.5rem;
    }
    .logo {
      margin: 0;
      width: 12rem;
      height: 7.2rem;
      margin-bottom: 1rem;
      @media screen and (min-width: $large) {
        width: 16.6rem;
        height: 10rem;
      }
    }
    .incipit {
      margin: 0;
    }
  }
  .menu {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 4rem;
    padding: 0;
    margin-top: 3rem;
    @media screen and (min-width: $large) {
      margin: unset;
      flex-shrink: 0;
      // margin: 0 3rem;
    }
    .col {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    .item a {
      @media screen and (min-width: $large) {
        margin: 0;
      }
    }
    .item h5 {
      margin-bottom: 0.5rem;
    }
    .item .p-sm {
      margin-bottom: 0;
    }
    .sub-menu {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  .bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 4rem;
    margin: 3rem 0;
    padding-bottom: 3rem;
    border-bottom: solid 1px rgba($color: #fff, $alpha: 0.15);
    @media screen and (min-width: $large) {
      border-bottom: unset;
      padding: 0;
      margin: 0;
    }
  }
  .infos {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      margin: 0;
    }
  }
  .partners-container {
    .logo-partner {
      margin: 0;
      aspect-ratio: 88/53;
      width: 9rem;
    }
  }
  .sub-infos {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    .sub-item {
      margin: 0;
    }
  }
  .links-container {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 4.5rem;
    right: 2rem;
    height: fit-content;
    @media screen and (min-width: $large) {
      right: 10rem;
      top: unset;
      bottom: 3rem;
    }
    .item {
      width: 2.9rem;
      height: 2.9rem;
      cursor: pointer;
    }
    .instagram {
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='29' rx='5' fill='%234F9087'/%3E%3Cpath d='M14.4959 11.9136C13.0718 11.9136 11.9096 13.0758 11.9096 14.5C11.9096 15.9241 13.0718 17.0863 14.4959 17.0863C15.92 17.0863 17.0822 15.9241 17.0822 14.5C17.0822 13.0758 15.92 11.9136 14.4959 11.9136ZM22.2529 14.5C22.2529 13.4289 22.2627 12.3676 22.2025 11.2985C22.1424 10.0567 21.8591 8.95468 20.9511 8.04664C20.0411 7.13665 18.941 6.85531 17.6992 6.79516C16.6282 6.73502 15.5669 6.74472 14.4979 6.74472C13.4269 6.74472 12.3655 6.73502 11.2965 6.79516C10.0547 6.85531 8.95268 7.13859 8.04466 8.04664C7.13469 8.95662 6.85336 10.0567 6.79321 11.2985C6.73306 12.3695 6.74276 13.4309 6.74276 14.5C6.74276 15.569 6.73306 16.6323 6.79321 17.7014C6.85336 18.9432 7.13663 20.0452 8.04466 20.9533C8.95462 21.8633 10.0547 22.1446 11.2965 22.2047C12.3675 22.2649 13.4288 22.2552 14.4979 22.2552C15.5689 22.2552 16.6302 22.2649 17.6992 22.2047C18.941 22.1446 20.043 21.8613 20.9511 20.9533C21.861 20.0433 22.1424 18.9432 22.2025 17.7014C22.2646 16.6323 22.2529 15.571 22.2529 14.5ZM14.4959 18.4794C12.2938 18.4794 10.5165 16.7022 10.5165 14.5C10.5165 12.2978 12.2938 10.5205 14.4959 10.5205C16.6981 10.5205 18.4753 12.2978 18.4753 14.5C18.4753 16.7022 16.6981 18.4794 14.4959 18.4794ZM18.6383 11.2869C18.1241 11.2869 17.7089 10.8717 17.7089 10.3575C17.7089 9.84332 18.1241 9.4281 18.6383 9.4281C19.1525 9.4281 19.5677 9.84332 19.5677 10.3575C19.5678 10.4796 19.5439 10.6005 19.4972 10.7133C19.4506 10.8262 19.3821 10.9287 19.2958 11.015C19.2095 11.1013 19.107 11.1698 18.9941 11.2164C18.8813 11.2631 18.7604 11.287 18.6383 11.2869Z' fill='white'/%3E%3C/svg%3E");
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='29' rx='5' fill='%23FF7348'/%3E%3Cpath d='M14.4979 11.9136C13.0737 11.9136 11.9115 13.0758 11.9115 14.5C11.9115 15.9241 13.0737 17.0863 14.4979 17.0863C15.922 17.0863 17.0842 15.9241 17.0842 14.5C17.0842 13.0758 15.922 11.9136 14.4979 11.9136ZM22.2549 14.5C22.2549 13.4289 22.2646 12.3676 22.2045 11.2985C22.1443 10.0567 21.861 8.95468 20.953 8.04664C20.043 7.13665 18.9429 6.85531 17.7012 6.79516C16.6302 6.73502 15.5689 6.74472 14.4998 6.74472C13.4288 6.74472 12.3675 6.73502 11.2984 6.79516C10.0567 6.85531 8.95464 7.13859 8.04661 8.04664C7.13664 8.95662 6.85531 10.0567 6.79516 11.2985C6.73502 12.3695 6.74472 13.4309 6.74472 14.5C6.74472 15.569 6.73502 16.6323 6.79516 17.7014C6.85531 18.9432 7.13858 20.0452 8.04661 20.9533C8.95658 21.8633 10.0567 22.1446 11.2984 22.2047C12.3694 22.2649 13.4307 22.2552 14.4998 22.2552C15.5708 22.2552 16.6321 22.2649 17.7012 22.2047C18.9429 22.1446 20.045 21.8613 20.953 20.9533C21.863 20.0433 22.1443 18.9432 22.2045 17.7014C22.2665 16.6323 22.2549 15.571 22.2549 14.5ZM14.4979 18.4794C12.2957 18.4794 10.5185 16.7022 10.5185 14.5C10.5185 12.2978 12.2957 10.5205 14.4979 10.5205C16.7 10.5205 18.4773 12.2978 18.4773 14.5C18.4773 16.7022 16.7 18.4794 14.4979 18.4794ZM18.6403 11.2869C18.1261 11.2869 17.7109 10.8717 17.7109 10.3575C17.7109 9.84332 18.1261 9.4281 18.6403 9.4281C19.1544 9.4281 19.5696 9.84332 19.5696 10.3575C19.5698 10.4796 19.5458 10.6005 19.4992 10.7133C19.4525 10.8262 19.3841 10.9287 19.2978 11.015C19.2114 11.1013 19.1089 11.1698 18.9961 11.2164C18.8833 11.2631 18.7623 11.287 18.6403 11.2869Z' fill='%23FFD5C8'/%3E%3C/svg%3E%0A");
      }
    }
    .linkedin {
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='29' rx='5' fill='%234F9087'/%3E%3Cpath d='M10.0256 21.434V12.0762H6.51199V21.434H10.0256ZM8.26927 10.7978C9.49454 10.7978 10.2572 10.0793 10.2572 9.1813C10.2344 8.26308 9.49459 7.56445 8.29252 7.56445C7.09064 7.56445 6.30469 8.26309 6.30469 9.1813C6.30469 10.0793 7.06717 10.7978 8.24633 10.7978H8.26916H8.26927ZM11.9704 21.434H15.4841V16.2082C15.4841 15.9285 15.5069 15.6491 15.5997 15.4492C15.8537 14.8904 16.4318 14.3116 17.4025 14.3116C18.6739 14.3116 19.1826 15.1698 19.1826 16.4277V21.4339H22.696V16.0683C22.696 13.194 20.9625 11.8566 18.6508 11.8566C16.7553 11.8566 15.9231 12.7944 15.4607 13.4332H15.4842V12.0761H11.9705C12.0166 12.9541 11.9705 21.4338 11.9705 21.4338L11.9704 21.434Z' fill='white'/%3E%3C/svg%3E%0A");
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='29' rx='5' fill='%23FF7348'/%3E%3Cpath d='M10.0252 21.434V12.0762H6.5115V21.434H10.0252ZM8.26878 10.7978C9.49405 10.7978 10.2567 10.0793 10.2567 9.1813C10.2339 8.26308 9.4941 7.56445 8.29203 7.56445C7.09015 7.56445 6.3042 8.26309 6.3042 9.1813C6.3042 10.0793 7.06668 10.7978 8.24584 10.7978H8.26867H8.26878ZM11.9699 21.434H15.4836V16.2082C15.4836 15.9285 15.5064 15.6491 15.5992 15.4492C15.8532 14.8904 16.4314 14.3116 17.402 14.3116C18.6734 14.3116 19.1821 15.1698 19.1821 16.4277V21.4339H22.6955V16.0683C22.6955 13.194 20.9621 11.8566 18.6503 11.8566C16.7548 11.8566 15.9226 12.7944 15.4602 13.4332H15.4837V12.0761H11.97C12.0161 12.9541 11.97 21.4338 11.97 21.4338L11.9699 21.434Z' fill='%23FFD5C8'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
