.hero-section-v1 {
  background: url(../../assets/img/background.jpg);
  .content {
    background-color: $color9;
    border-radius: 0 0 20px 20px;
    position: relative;
    .heading {
      max-width: 1020px;
      margin: 0 auto 60px;
      padding: 120px 20px 0;
      @media screen and (min-width: $medium) {
        padding-bottom: 41.5rem;
        margin-bottom: 0;
      }
      .title {
        text-align: left;
        @media screen and (min-width: $small) {
          text-align: center;
        }
      }
    }
    .solutions-container {
      display: none;
      @media screen and (min-width: $medium) {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        width: 100%;
        position: absolute;
        bottom: -30rem;
        .left,
        .right {
          width: calc((100% - 3rem) / 2);
          border-radius: 2rem;
          border: solid 1px $color4;
          position: relative;
          padding: 4.3rem 5rem 8rem;
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            filter: blur(4.9rem);
          }
          .available {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border-radius: 5px;
            padding: 1.3rem 2rem;
            margin: 0 auto;
            background-color: $color1;
            width: fit-content;
            position: relative;
            top: -7rem;
            &::before {
              content: "";
              height: 3rem;
              width: 3rem;
              background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_648_27099)'%3E%3Cpath d='M13.6446 2.48047C13.501 2.48047 12.2447 2.71057 12.2447 2.71057C12.1864 4.59165 10.8808 6.25844 8.19332 6.54776L7.61903 5.50483L6.49288 5.61694L6.99987 8.33345L1.89453 8.11193L2.4419 9.98803C7.94206 11.7737 7.69081 16.8821 6.49288 21.4481C8.6016 23.844 12.8549 23.609 14.838 23.3965C14.9771 20.5846 17.189 20.4806 20.9354 21.9408C21.4423 21.1452 21.7788 20.3134 22.9364 19.6488L20.8456 13.3424L19.6118 13.6227C20.1053 12.6688 21.0565 11.3668 21.8731 10.7566L22.573 6.82805C18.5978 6.54324 16.0045 4.73224 13.6446 2.48047Z' stroke='%23B4CFCB' stroke-width='2.33798' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_648_27099' x='0.725586' y='1.31055' width='23.3799' height='23.9654' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.584496'/%3E%3CfeGaussianBlur stdDeviation='0.935194'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_648_27099'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
              background-size: contain;
            }
          }
          .solutions-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 3rem;
          }
          .solution {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: flex-start;
            position: relative;
            height: 45.5rem;
            width: 100%;
            border: solid 1px $color3;
            border-radius: 2rem;
            padding: 1.5rem;
            text-align: center;
            overflow: hidden;
            .illustration {
              position: absolute;
              bottom: -3px;
              left: 0;
              overflow: hidden;
              width: 100%;
              height: 80%;
              margin: 0;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    .solutions-slider {
      @media screen and (min-width: $medium) {
        display: none;
      }
      .solution {
        border-radius: 1.125rem;
        border: solid 1px $color4;
        width: calc(100% / 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        min-height: 340px;
        padding: 1rem;
        overflow: hidden;
        .head {
          width: 100%;
        }
        .solution-title {
          margin-bottom: 0.75rem;
          text-align: center;
        }
        .price {
          background-color: $color8;
          border-radius: 0.79px;
          padding: 0.4rem;
          width: 100%;
          text-align: center;
        }
        .illustration {
          width: 100%;
          height: 24rem;
          overflow: hidden;
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 0;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .available {
          position: relative;
          z-index: 1;
          padding: 1rem;
          background: $color1;
          width: 100%;
          font-weight: 500;
          font-size: 1.4rem;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          gap: 1rem;
          align-items: center;
          &::before {
            content: "";
            flex-shrink: 0;
            display: block;
            height: 26px;
            width: 26px;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_648_27099)'%3E%3Cpath d='M13.6446 2.48047C13.501 2.48047 12.2447 2.71057 12.2447 2.71057C12.1864 4.59165 10.8808 6.25844 8.19332 6.54776L7.61903 5.50483L6.49288 5.61694L6.99987 8.33345L1.89453 8.11193L2.4419 9.98803C7.94206 11.7737 7.69081 16.8821 6.49288 21.4481C8.6016 23.844 12.8549 23.609 14.838 23.3965C14.9771 20.5846 17.189 20.4806 20.9354 21.9408C21.4423 21.1452 21.7788 20.3134 22.9364 19.6488L20.8456 13.3424L19.6118 13.6227C20.1053 12.6688 21.0565 11.3668 21.8731 10.7566L22.573 6.82805C18.5978 6.54324 16.0045 4.73224 13.6446 2.48047Z' stroke='%23B4CFCB' stroke-width='2.33798' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_648_27099' x='0.725586' y='1.31055' width='23.3799' height='23.9654' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.584496'/%3E%3CfeGaussianBlur stdDeviation='0.935194'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_648_27099'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}

.more {
  height: 1080px;
  width: 100%;
  background: url(../../assets/img/background.jpg);
}
