.hero-section-v3 {
  padding: 11.5rem 0 2rem;
  // background: url(../../assets/img/gradient-orange.png);
  // background-size: 100% 100%;
  gap: 3rem;
  position: relative;

  @media screen and (min-width: $small) {
    padding: 19.5rem 0 10.5rem;
  }
  &:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='654' height='615' viewBox='0 0 654 615' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M396.373 308.7C449.517 274.287 516.521 272.847 571.266 304.917L571.24 304.936C645.722 348.652 674.329 443.699 636.366 521.322C616.436 562.094 581.747 592.319 538.684 606.43C495.608 620.534 449.777 616.728 409.643 595.701C358.873 569.101 325.762 519.059 321.054 461.845C319.143 438.586 305.58 418.195 284.77 407.293L164.679 344.375C133.533 328.057 114.36 293.685 116.701 258.605L62.693 275.477C61.3043 275.911 59.9043 276.275 58.5435 276.565C58.1262 276.656 57.5959 276.742 57.0265 276.834C56.8357 276.864 56.6405 276.896 56.4438 276.928L55.451 277.092C54.8184 277.207 54.1229 277.319 53.4155 277.394C52.7777 277.458 52.1215 277.496 51.4653 277.534L51.465 277.534L50.4996 277.585C49.9253 277.618 49.3385 277.645 48.7458 277.652C48.0777 277.652 47.4225 277.627 46.8935 277.605L45.7598 277.552C45.6666 277.548 45.5709 277.544 45.473 277.54C45.0151 277.522 44.5099 277.501 43.9966 277.455C43.5626 277.419 43.1397 277.361 42.7168 277.303C42.5754 277.284 42.434 277.265 42.2923 277.246L41.1229 277.079C40.5695 277.012 39.9346 276.918 39.3128 276.799C38.8292 276.706 38.3372 276.585 37.8917 276.476C37.8049 276.455 37.7199 276.434 37.637 276.414L36.608 276.162C35.9553 276.011 35.3465 275.867 34.7009 275.672C34.0554 275.477 33.3979 275.244 32.8219 275.037L31.7887 274.671C31.0747 274.424 30.3483 274.171 29.8169 273.94C27.2025 272.857 24.6808 271.536 22.2894 269.996C21.7972 269.691 21.1629 269.231 20.5536 268.785L19.6518 268.137L19.5978 268.099C19.0925 267.742 18.5759 267.377 18.0605 266.953C17.6412 266.617 17.2432 266.261 16.8523 265.91C16.7627 265.83 16.6735 265.75 16.5846 265.671L15.8285 264.988C15.4005 264.621 14.9541 264.228 14.5273 263.798C14.088 263.361 13.6493 262.892 13.279 262.475L12.4884 261.616C12.1115 261.211 11.7412 260.795 11.3649 260.359C10.9518 259.872 10.5827 259.392 10.2385 258.926L9.59895 258.081L9.55652 258.025C9.17975 257.523 8.83622 257.065 8.4993 256.566C8.1926 256.119 7.89897 255.647 7.56315 255.074L7.30637 254.653C6.72505 253.728 6.38268 253.166 6.04151 252.542C5.71875 251.944 5.43406 251.333 5.17968 250.786L4.90092 250.195C4.49437 249.361 4.06998 248.471 3.81679 247.861C3.24978 246.513 2.76481 245.162 2.35474 243.849C1.94466 242.536 1.58631 241.155 1.26661 239.731C1.15741 239.209 1.04252 238.497 0.9336 237.821C0.915683 237.71 0.897938 237.6 0.880408 237.492L0.745525 236.626C0.72602 236.503 0.706101 236.379 0.686154 236.255C0.596714 235.7 0.506587 235.141 0.45025 234.578C0.37956 233.984 0.346321 233.41 0.315465 232.709L0.248397 231.592C0.213965 231.081 0.181315 230.475 0.174234 229.851C0.164943 229.296 0.190876 228.731 0.213976 228.226C0.220285 228.089 0.226375 227.956 0.231481 227.829L0.267823 226.909L0.267832 226.909C0.285126 226.329 0.302429 225.75 0.357739 225.158C0.401869 224.613 0.475886 224.083 0.548418 223.564C0.55708 223.502 0.565718 223.44 0.574284 223.379L0.719435 222.373C0.80687 221.75 0.894319 221.128 1.00732 220.487C1.12568 219.897 1.2559 219.345 1.39209 218.811L1.64542 217.751C1.76972 217.18 1.92079 216.527 2.12237 215.869C2.27063 215.348 2.45362 214.835 2.63492 214.327C2.68487 214.187 2.73467 214.047 2.7836 213.908L3.10351 212.994C3.33005 212.349 3.60952 211.573 3.83427 211.022C4.39558 209.677 5.00028 208.371 5.65431 207.123L100.221 26.6254C112.549 3.09411 141.713 -6.01665 165.244 6.31186C188.775 18.6404 197.898 47.8103 185.57 71.3415L138.754 160.698L263.857 115.142C276.914 111.053 289.946 112.296 301.636 118.771C313.209 125.105 321.501 135.606 324.992 148.349C331.76 173.055 316.93 199.508 291.933 207.318L198.054 242.805L328.63 311.217C350.401 322.624 376.347 321.659 396.373 308.7ZM561.266 487.29C539.775 528.31 488.905 544.202 447.885 522.711C406.864 501.219 390.972 450.35 412.464 409.329C433.955 368.309 484.825 352.417 525.845 373.908C566.866 395.4 582.758 446.269 561.266 487.29Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
    background-size: cover;
    z-index: 0;
    @media screen and (min-width: $medium) {
      background-size: contain;
      background-position: top right;
    }
    @media screen and (min-width: $large) {
      background-size: contain;
      height: 90%;
      width: 50%;
      background-position: top right -40px;
    }
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    z-index: 2;
    @media screen and (min-width: $small) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .text-content {
      @media screen and (min-width: $small) {
        width: calc(100% / 12 * 6);
      }
    }
    .illustration {
      width: 100%;
      aspect-ratio: 334/269;
      position: relative;
      @media screen and (min-width: $small) {
        width: calc(100% / 12 * 5);
        aspect-ratio: 475/380;
      }
      img {
        border-radius: 1.5rem;
      }
      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='36' height='43' viewBox='0 0 36 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_1350_17264)'%3E%3Cpath d='M33.0698 32.1779L32.9364 14.3198C32.9344 14.04 32.869 13.7636 32.7456 13.5122C32.6222 13.2608 32.4441 13.0412 32.2252 12.8708C32.0064 12.7004 31.7527 12.5838 31.4842 12.5301C31.2158 12.4764 30.9398 12.4871 30.678 12.5614L20.9569 15.3067C20.8175 15.3461 20.6708 15.3525 20.5277 15.3256C20.3846 15.2987 20.2487 15.2391 20.1302 15.1513C20.0117 15.0634 19.9137 14.9496 19.8434 14.8183C19.773 14.6869 19.7323 14.5415 19.7241 14.3927L19.6144 12.3855C19.5132 10.5444 19.1339 8.72538 18.4908 6.99499L18.1411 6.05483C17.7662 5.04618 17.0568 4.20096 16.1389 3.66933C15.2992 3.18328 14.3109 3.05588 13.391 3.31509L13.1878 3.37249C12.6315 3.5296 12.2069 3.98482 12.079 4.56158L11.0062 9.37147C10.5255 11.5286 9.45526 13.4918 7.91992 15.0325L3.17542 19.7914C2.95053 20.0172 2.7901 20.302 2.71104 20.6157C2.63197 20.9294 2.63719 21.2605 2.72615 21.5742L7.60678 38.8565C7.73745 39.3192 8.0412 39.7125 8.4512 39.95C8.86121 40.1875 9.34388 40.2497 9.79304 40.1228L31.7984 33.9084C32.1672 33.8041 32.4908 33.5787 32.7201 33.2664C32.9494 32.9542 33.0727 32.5718 33.0698 32.1779Z' stroke='%23B4CFCB' stroke-width='4.80383' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_1350_17264' x='0.253906' y='0.78125' width='35.2188' height='43.0096' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.20096'/%3E%3CfeGaussianBlur stdDeviation='1.92153'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_1350_17264'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 3.6rem;
        height: 4.3rem;
        position: absolute;
        top: 4rem;
        left: -1rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (min-width: $small) {
          width: 7rem;
          height: 7rem;
          left: -3.5rem;
        }
      }
      &::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='38' height='40' viewBox='0 0 38 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_1350_17225)'%3E%3Cpath d='M16.7651 6.93889C19.8765 3.91943 21.4314 2.40946 22.9431 2.86334C24.4547 3.31723 24.9206 5.43399 25.854 9.66798L26.0958 10.7638C26.3608 11.9675 26.4933 12.5694 26.8381 13.0436C27.183 13.5178 27.7038 13.8117 28.7454 14.3994L29.6916 14.9341C33.3513 17.0023 35.1798 18.0351 35.1965 19.6776C35.2121 21.318 33.4042 22.4823 29.7874 24.8089L28.8517 25.4101C27.8249 26.0711 27.3097 26.4019 26.974 26.8998C26.6378 27.3992 26.517 28.0103 26.2758 29.2308L26.0567 30.3431C25.2062 34.6418 24.7819 36.7906 23.2808 37.3509C21.7796 37.9112 20.1948 36.513 17.0283 33.7176L16.2067 32.9941C15.3075 32.1986 14.8575 31.8024 14.3036 31.6361C13.7497 31.4698 13.1558 31.5525 11.9671 31.7211L10.8845 31.8729C6.7003 32.4611 4.60742 32.755 3.66431 31.4625C2.71896 30.1658 3.54861 28.1388 5.2068 24.0826L5.63616 23.0352C6.10769 21.882 6.34346 21.3055 6.33595 20.7046C6.33211 20.1031 6.08434 19.5432 5.59103 18.4275L5.14176 17.4086C3.40434 13.4761 2.5369 11.5085 3.45402 10.1464C4.37115 8.78426 6.46982 8.92891 10.663 9.22044L11.7472 9.2954C12.9387 9.37822 13.5337 9.41939 14.0843 9.21406C14.6349 9.00874 15.0755 8.57893 15.9598 7.72029L16.7651 6.93889Z' stroke='%23B4CFCB' stroke-width='4.6044' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_1350_17225' x='0.78125' y='0.480469' width='36.7168' height='40.448' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.1511'/%3E%3CfeGaussianBlur stdDeviation='1.84176'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_1350_17225'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 3.8rem;
        height: 4rem;
        position: absolute;
        bottom: 4rem;
        right: -1rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (min-width: $small) {
          width: 7rem;
          height: 7rem;
          right: -4rem;
          bottom: 7rem;
        }
      }
    }
  }
}
