.hero-section-v1 {
  background: url(../../assets/img/background.jpg);
  overflow: hidden;
  cursor: url(../../assets/img/cursor.png);
  @media screen and (min-width: $large) {
    padding-bottom: 26rem;
  }
  &.alt {
    .content {
      background: $color9;
      max-height: 77rem;
      .heading {
        padding-bottom: 7rem;
        .title,
        .subtitle {
          color: $color1 !important;
        }
      }
    }
    .solutions-wrapper {
      width: 100%;
    }
  }
  .content {
    background: url(../../assets/img/home-bg.jpg);
    background-size: cover;
    border-radius: 0 0 20px 20px;
    position: relative;
    @media screen and (min-width: $large) {
      padding: 0 6rem 0;
      max-height: 92rem;
    }
    .heading {
      max-width: 1020px;
      margin: 0 auto 12rem;
      padding: 120px 20px 0;
      @media screen and (min-width: $large) {
        padding-bottom: 14rem;
        margin-bottom: 0;
        padding-top: 19.5rem;
      }
      .title,
      .subtitle {
        text-align: left;
        color: $color9;
        @media screen and (min-width: $small) {
          text-align: center;
        }
      }
    }
    .solutions-container {
      display: none;
      @media screen and (min-width: $large) {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        width: 100%;
        position: relative;
        margin: 0 auto;
        .left-bloc,
        .right-bloc {
          border-radius: 2rem;
          border: solid 1px $color4;
          position: relative;
          padding: 5rem 5rem 5rem;
          backdrop-filter: blur(49px);

          &:before {
            // content: "";
            width: 100%;
            height: 100%;
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            // mask: linear-gradient(to bottom, black 0%, transparent 100%);
            mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
            -webkit-mask-image: linear-gradient(
              to bottom,
              black 0%,
              transparent 100%
            );
          }
          .availability {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border-radius: 5px;
            padding: 1.3rem 2rem;
            margin: 0 auto;
            background-color: #fff;
            width: fit-content;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            &.all {
              padding: 1.3rem 1rem;
            }
            &.local:before {
              background-image: url("data:image/svg+xml,%3Csvg width='33' height='41' viewBox='0 0 33 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_598_17976)'%3E%3Cpath d='M16.3333 2C8.43037 2 2.00015 8.51603 2.00015 16.5154C1.94819 28.2166 15.7887 37.919 16.3333 38.3111C16.3333 38.3111 30.7185 28.2166 30.6665 16.5244C30.6665 8.51603 24.2363 2 16.3333 2ZM16.3333 23.7867C12.3738 23.7867 9.16674 20.5368 9.16674 16.5244C9.16674 12.5121 12.3738 9.26222 16.3333 9.26222C20.2929 9.26222 23.4999 12.5121 23.4999 16.5244C23.4999 20.5368 20.2929 23.7867 16.3333 23.7867Z' stroke='%234F9087' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_598_17976' x='0' y='0' width='32.6665' height='41.3105' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.6'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_598_17976'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
            }
            &.all:before {
              background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_598_17995)'%3E%3Cpath d='M22.1029 2C21.8572 2 19.7079 2.39368 19.7079 2.39368C19.6081 5.61196 17.3744 8.46363 12.7764 8.95863L11.7939 7.17431L9.8672 7.36612L10.7346 12.0137L2 11.6347L2.93648 14.8445C12.3466 17.8996 11.9167 26.6394 9.8672 34.4512C13.475 38.5504 20.7519 38.1482 24.1447 37.7847C24.3827 32.9739 28.167 32.796 34.5765 35.2942C35.4439 33.933 36.0196 32.5099 38 31.3729L34.423 20.5834L32.312 21.063C33.1564 19.431 34.7837 17.2035 36.1808 16.1593L37.3782 9.43816C30.5772 8.9509 26.1405 5.8525 22.1029 2Z' stroke='%234F9087' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_598_17995' x='0' y='0' width='40' height='41' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.6'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_598_17995'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
            }
            &::before {
              content: "";
              height: 3rem;
              width: 3rem;
              background-size: contain;
              flex-shrink: 0;
              background-repeat: no-repeat;
              white-space: pre;
            }
          }
        }
        .left-bloc {
          width: calc((100% - 9rem) / 4);
          flex-grow: 1;
        }
        .right-bloc {
          width: calc((100% - 9rem) / 4 * 3);
          flex-shrink: 1;
        }
      }
    }
    .solutions-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 3rem;
    }
    .solution {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: flex-start;
      position: relative;
      height: 45.5rem;
      width: 100%;
      border: solid 1px $color3;
      border-radius: 2rem;
      padding: 1.5rem;
      text-align: center;
      overflow: hidden;
      transition: all 0.3s ease;
      background-color: $color9;
      &:hover {
        transform: translateY(-30px);
        box-shadow: 0px 0px 27.51px 0px #06320033;
        .illustration {
          filter: blur(0);
        }
        .price,
        .solution-title {
          opacity: 0;
        }
        .undertext {
          opacity: 1;
        }
        .circle {
          &::before {
            height: 6rem;
            width: 6rem;
          }
          &::after {
            opacity: 1;
          }
        }
      }

      .solution-title {
        margin: 0;
        transition: opacity 0.3s ease;
      }
      .undertext {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
        padding: 1.5rem;
      }
      .price {
        width: 100%;
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 0;
        position: relative;
        z-index: 3;
        transition: opacity 0.3s ease;
      }
      .illustration {
        position: absolute;
        bottom: -3px;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 75%;
        margin: 0;
        filter: blur(40px);
        transition: filter 0.3s ease;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .circle {
        position: absolute;
        height: 6rem;
        width: 6rem;
        right: 2rem;
        border-radius: 100%;
        border: solid 1px $color1;
        top: 55%;
        &::before {
          content: "";
          height: 3.2rem;
          width: 3.2rem;
          border-radius: 100%;
          background-color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.3s ease;
        }
        &:after {
          content: "";
          opacity: 0;
          position: absolute;
          height: 2.4rem;
          width: 2.4rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          transition: all 0.3s ease;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4071 23.4573C15.205 23.7267 14.7996 23.7233 14.6021 23.4505L13.1161 21.3985C12.9876 21.221 12.9896 20.9805 13.1211 20.8052L17.625 14.8C17.8722 14.4704 17.637 14 17.225 14H0.500001C0.223858 14 0 13.7761 0 13.5V10.5C0 10.2239 0.223858 10 0.5 10H17.225C17.637 10 17.8722 9.52962 17.625 9.2L13.1211 3.1948C12.9896 3.0195 12.9876 2.77902 13.1161 2.60154L14.6021 0.549494C14.7996 0.276679 15.205 0.273283 15.4071 0.542749L23.775 11.7C23.9083 11.8778 23.9083 12.1222 23.775 12.3L15.4071 23.4573Z' fill='%23FF7348'/%3E%3C/svg%3E%0A");
        }
      }
    }
    .solutions-slider {
      margin: 0 auto;
      @media screen and (min-width: $large) {
        display: none;
      }

      .solution-container {
        position: relative;
        width: calc(100% / 2);
        .sentence {
          position: absolute;
          display: block;
          width: 100%;
          bottom: 0;
          left: 0;
          z-index: 1;
          font-weight: 700;
          font-size: 1.7rem;
          color: $color1;
        }
        &.swiper-slide-active {
          .solution {
            transform: translateY(-6rem);
          }
        }
      }
      .solution {
        border-radius: 1.125rem;
        border: solid 1px $color4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        min-height: 340px;
        padding: 1rem;
        overflow: hidden;
        background-color: $color9;
        transition: transform 0.3s ease;
        z-index: 5;

        .head {
          width: 100%;
        }
        .solution-title {
          margin-bottom: 0.75rem;
          text-align: center;
        }
        .price {
          background-color: $color8;
          border-radius: 0.79px;
          padding: 0.4rem;
          width: 100%;
          text-align: center;
        }
        .illustration {
          width: 100%;
          height: 24rem;
          overflow: hidden;
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 0;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .available {
          position: relative;
          z-index: 1;
          padding: 0.5rem;
          background: $color1;
          width: 100%;
          font-weight: 500;
          font-size: 1.4rem;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          gap: 1rem;
          align-items: center;
          &::before {
            content: "";
            flex-shrink: 0;
            display: block;
            height: 26px;
            width: 26px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_648_27099)'%3E%3Cpath d='M13.6446 2.48047C13.501 2.48047 12.2447 2.71057 12.2447 2.71057C12.1864 4.59165 10.8808 6.25844 8.19332 6.54776L7.61903 5.50483L6.49288 5.61694L6.99987 8.33345L1.89453 8.11193L2.4419 9.98803C7.94206 11.7737 7.69081 16.8821 6.49288 21.4481C8.6016 23.844 12.8549 23.609 14.838 23.3965C14.9771 20.5846 17.189 20.4806 20.9354 21.9408C21.4423 21.1452 21.7788 20.3134 22.9364 19.6488L20.8456 13.3424L19.6118 13.6227C20.1053 12.6688 21.0565 11.3668 21.8731 10.7566L22.573 6.82805C18.5978 6.54324 16.0045 4.73224 13.6446 2.48047Z' stroke='%23B4CFCB' stroke-width='2.33798' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_648_27099' x='0.725586' y='1.31055' width='23.3799' height='23.9654' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.584496'/%3E%3CfeGaussianBlur stdDeviation='0.935194'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_648_27099'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
          }
          &.located:before {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='24' viewBox='0 0 20 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_1812_3952)'%3E%3Cpath d='M9.90648 1.30859C5.34033 1.30859 1.62508 5.07341 1.62508 9.69525C1.59506 16.456 9.59179 22.0618 9.90648 22.2883C9.90648 22.2883 18.2179 16.456 18.1879 9.7005C18.1879 5.07341 14.4726 1.30859 9.90648 1.30859ZM9.90648 13.8964C7.61875 13.8964 5.76578 12.0188 5.76578 9.7005C5.76578 7.38223 7.61875 5.50454 9.90648 5.50454C12.1942 5.50454 14.0472 7.38223 14.0472 9.7005C14.0472 12.0188 12.1942 13.8964 9.90648 13.8964Z' stroke='%23B4CFCB' stroke-width='2.33798' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_1812_3952' x='0.453125' y='0.138672' width='18.9062' height='23.9029' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.584496'/%3E%3CfeGaussianBlur stdDeviation='0.935194'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_1812_3952'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
          }
        }
      }
      .controls-container {
        padding: 2rem 0 6rem;
        .left,
        .right {
          height: 4.5rem;
          width: 4.5rem;
        }
      }
    }
  }
}

.more {
  height: 1080px;
  width: 100%;
  background: url(../../assets/img/background.jpg);
}
