.identity {
  display: flex;
  flex-direction: column-reverse;
  gap: 5.5rem;
  padding: 10.5rem 0;
  @media screen and (min-width: 576px) {
    flex-direction: row;
    justify-content: space-between;
  }
  .right-bloc {
    @media screen and (min-width: 576px) {
      width: calc(100% / 12 * 6);
    }
    .values {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .item {
        background-color: $color8;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: fit-content;
        &::before {
          content: "";
          height: 3.5rem;
          width: 3.5rem;
          background-size: contain;
          // background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='35' height='35' rx='5' fill='%23B4CFCB'/%3E%3Cg filter='url(%23filter0_i_528_14899)'%3E%3Cpath d='M25.7752 17.3777V25.6446C25.7752 25.8273 25.7044 26.0026 25.5786 26.1318C25.4527 26.261 25.2819 26.3336 25.1039 26.3336H20.4048C20.2268 26.3336 20.056 26.261 19.9301 26.1318C19.8042 26.0026 19.7335 25.8273 19.7335 25.6446V21.1667C19.7335 21.0753 19.6981 20.9877 19.6352 20.9231C19.5723 20.8585 19.4869 20.8222 19.3979 20.8222H16.0414C15.9524 20.8222 15.867 20.8585 15.804 20.9231C15.7411 20.9877 15.7057 21.0753 15.7057 21.1667V25.6446C15.7057 25.8273 15.635 26.0026 15.5091 26.1318C15.3832 26.261 15.2125 26.3336 15.0344 26.3336H10.3354C10.1573 26.3336 9.98657 26.261 9.86068 26.1318C9.73479 26.0026 9.66406 25.8273 9.66406 25.6446V17.3777C9.66423 17.0123 9.80579 16.662 10.0576 16.4037L16.7706 9.51457C17.0223 9.25637 17.3637 9.11133 17.7196 9.11133C18.0755 9.11133 18.4169 9.25637 18.6687 9.51457L25.3816 16.4037C25.6335 16.662 25.775 17.0123 25.7752 17.3777Z' stroke='%234F9087' stroke-width='2.22222' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_528_14899' x='8.55469' y='8' width='18.3281' height='20.0009' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.555556'/%3E%3CfeGaussianBlur stdDeviation='0.888889'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_528_14899'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        }
        .text {
          color: $color1;
          font-weight: 700;
          font-size: 1.4rem;
          padding: 0 1rem;
        }
      }
    }
  }
  .left-bloc {
    @media screen and (min-width: 576px) {
      width: calc(100% / 12 * 5);
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    .bloc-title {
      @media screen and (min-width: 576px) {
        position: relative;
        top: 122px;
        left: 50px;
      }
    }
    .cards-container {
      @media screen and (min-width: 576px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .card-container {
      z-index: 1;
      position: relative;
      &:hover {
        z-index: 2;
      }
    }
    .member-card {
      background-color: $color8;
      border-radius: 1.5rem;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 4px 27.7px -2px rgba(0, 0, 0, 0.25);
      transition: transform ease 0.3s;
      @media screen and (min-width: 576px) {
        max-width: 260px;
      }
      &:hover {
        z-index: 3;
        transform: scale(1.08);
      }
      .image-container {
        border-radius: 100%;
        border: solid 1px $color4;
        padding: calc(92px - 75px);
        height: 9.2rem;
        width: 9.2rem;
        margin-bottom: 0.5rem;
        .picture {
          border-radius: 50%;
          border: solid 1px $color4;
          overflow: hidden;
          height: 100%;
          width: 100%;
          margin: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 10px;
        .title {
          margin: 0;
        }
        .linkedin {
          height: 20px;
          width: 20px;
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.226562' y='0.783203' width='20.0438' height='20.0438' rx='3.45582' fill='%231D7064'/%3E%3Cpath d='M7.15791 15.5978L7.15779 9.13006L4.72928 9.13011L4.7294 15.5979L7.15791 15.5978ZM5.94383 8.24649C6.7907 8.24647 7.31782 7.74982 7.31781 7.12917C7.30202 6.49453 6.79069 6.01168 5.95986 6.01169C5.12916 6.01171 4.58595 6.49459 4.58596 7.12922C4.58597 7.7499 5.11298 8.24651 5.92798 8.24649L5.94376 8.24649L5.94383 8.24649ZM8.50209 15.5978L10.9306 15.5978L10.9305 11.9858C10.9305 11.7925 10.9463 11.5994 11.0104 11.4612C11.186 11.075 11.5856 10.675 12.2564 10.675C13.1352 10.675 13.4868 11.2681 13.4868 12.1375L13.4869 15.5977L15.9152 15.5976L15.9151 11.8891C15.9151 9.90241 14.717 8.97807 13.1192 8.9781C11.8091 8.97813 11.2339 9.62637 10.9143 10.0679L10.9305 10.0679L10.9305 9.12985L8.50202 9.1299C8.5339 9.7368 8.50214 15.5977 8.50214 15.5977L8.50209 15.5978Z' fill='%23B4CFCB'/%3E%3C/svg%3E%0A");
        }
      }
      .description {
        margin-bottom: 0;
      }
    }
    .card-container:first-of-type {
      transform: rotate(-8.29deg);
    }
    .card-container:nth-of-type(2) {
      transform: rotate(8.29deg);
      top: -100px;
      @media screen and (min-width: 576px) {
        top: -125px;
        left: 200px;
      }
    }
    .card-container:nth-of-type(3) {
      top: -100px;
      @media screen and (min-width: 576px) {
        top: -250px;
      }
    }
  }
}
