.nested-blocks {
  margin: 6rem 0 10.5rem;
  @media screen and (min-width: $medium) {
    max-width: 1049px;
    margin: 6rem auto 16rem;
  }
  @media screen and (min-width: $medium) {
    max-width: unset;
    margin: 6rem calc(100% / 12) 16rem;
  }

  &.alt {
    @media screen and (min-width: $medium) {
      .heading,
      .content-wrapper {
        flex-direction: row-reverse;
      }
    }
    .heading .title:before {
      @media screen and (min-width: $medium) {
        left: unset;
        right: 0;
        transform: translate(50%, -50%);
      }
    }
  }
  .heading {
    margin-bottom: 3rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    @media screen and (min-width: $medium) {
      flex-direction: row;
    }
    .title {
      border-radius: 1.5rem;
      background: url(../../assets/img/background.jpg);
      margin: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 2rem;
      @media screen and (min-width: $medium) {
        padding: 2rem 6rem;
        position: relative;
        width: calc((100% - 3rem) / 10 * 6);
      }
      &:before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='60' height='60' rx='9.18367' fill='%23B4CFCB'/%3E%3Cg filter='url(%23filter0_i_595_14085)'%3E%3Cpath d='M42.2187 30.0293C41.0102 31.2412 39.4693 32.0673 37.7909 32.403C36.1126 32.7386 34.3724 32.5687 32.7907 31.9147L22.4867 44.3317C20.6011 46.2171 17.5537 46.2171 15.6681 44.3317C13.7825 42.4463 13.7825 39.3992 15.6681 37.5328L28.0863 27.2107C26.7911 24.0683 27.4197 20.3356 29.9719 17.7837C32.4098 15.346 35.9143 14.6985 38.9617 15.765L33.4574 21.2688L38.8284 26.6394L44.2757 21.1736C45.2851 24.1826 44.6185 27.6297 42.2187 30.0293Z' stroke='%234F9087' stroke-width='4.08163' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_595_14085' x='12.2148' y='13.2285' width='34.5547' height='35.579' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.02041'/%3E%3CfeGaussianBlur stdDeviation='1.63265'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_595_14085'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        width: 6rem;
        height: 6rem;
        flex-shrink: 0;
        @media screen and (min-width: $medium) {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .subtitle-container {
      border: solid 1px $color4;
      border-radius: 1.5rem;
      display: flex;
      align-items: center;
      @media screen and (min-width: $medium) {
        width: calc((100% - 3rem) / 10 * 4);
      }
    }
    .subtitle {
      padding: 2rem;
      margin: 0;
    }
  }
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
    @media screen and (min-width: $medium) {
      flex-direction: row;
    }
    .text-content {
      background-color: #fff;
      padding: 2rem;
      border-radius: 2rem;
      flex-shrink: 0;
      @media screen and (min-width: $medium) {
        width: calc((100% - 3rem) / 10 * 6);
        padding: 3rem;
      }
    }
    .slider-content {
      @media screen and (min-width: $medium) {
        width: calc((100% - 3rem) / 10 * 4);
      }
      .slider {
        overflow: hidden;
      }
      .illustration {
        width: 100%;
        aspect-ratio: 374/362;
        border-radius: 1.5rem;
        margin-bottom: 3rem;
        overflow: hidden;
      }
    }
  }
}
