.packs {
  margin: 7.5rem 0;
  position: relative;
  @media screen and (min-width: $large) {
    margin: 10.5rem 0;
  }
  &:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='582' height='803' viewBox='0 0 582 803' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M212.95 345.54C181.451 292.677 183.624 228.203 218.598 177.25L218.615 177.275C266.282 107.957 362.733 85.3922 438.197 125.907C477.836 147.177 506.147 182.085 517.916 224.206C529.679 266.339 523.408 310.191 500.248 347.674C470.951 395.091 419.197 424.318 361.813 425.876C338.485 426.505 317.392 438.484 305.384 457.919L236.085 570.078C218.112 599.167 182.757 615.812 147.854 611.741L161.792 664.525C162.15 665.883 162.438 667.247 162.654 668.57C162.722 668.976 162.779 669.489 162.84 670.041C162.861 670.226 162.882 670.416 162.904 670.607L163.014 671.57C163.094 672.184 163.169 672.858 163.206 673.542C163.235 674.158 163.237 674.791 163.24 675.424L163.239 676.354C163.241 676.908 163.236 677.473 163.212 678.043C163.176 678.686 163.115 679.314 163.064 679.821L162.95 680.908C162.941 680.997 162.932 681.089 162.923 681.183C162.88 681.622 162.833 682.107 162.759 682.598C162.699 683.013 162.619 683.417 162.538 683.821C162.511 683.955 162.485 684.09 162.459 684.225L162.229 685.34C162.132 685.869 162.004 686.474 161.851 687.065C161.732 687.525 161.585 687.991 161.453 688.414C161.427 688.496 161.401 688.577 161.377 688.656L161.069 689.632C160.883 690.252 160.706 690.829 160.477 691.44C160.247 692.05 159.979 692.67 159.742 693.213L159.321 694.187C159.036 694.86 158.744 695.545 158.485 696.044C157.262 698.5 155.807 700.856 154.141 703.074C153.809 703.531 153.316 704.117 152.837 704.68L152.142 705.513L152.102 705.562C151.718 706.029 151.326 706.507 150.875 706.981C150.516 707.366 150.139 707.73 149.768 708.087C149.683 708.17 149.599 708.251 149.514 708.333L148.792 709.024C148.402 709.416 147.986 709.825 147.533 710.213C147.073 710.613 146.581 711.01 146.145 711.344L145.244 712.059C144.82 712.401 144.384 712.735 143.929 713.074C143.42 713.446 142.921 713.776 142.437 714.082L141.559 714.653L141.5 714.692C140.978 715.027 140.503 715.334 139.987 715.632C139.524 715.903 139.037 716.161 138.446 716.454L138.012 716.679C137.057 717.19 136.478 717.489 135.837 717.785C135.221 718.064 134.596 718.306 134.037 718.522L133.431 718.76C132.577 719.107 131.664 719.469 131.042 719.68C129.666 720.155 128.29 720.551 126.957 720.878C125.624 721.204 124.226 721.476 122.786 721.71C122.26 721.788 121.543 721.861 120.863 721.931C120.751 721.942 120.639 721.953 120.53 721.965L119.658 722.049C119.534 722.062 119.409 722.075 119.285 722.087C118.725 722.144 118.162 722.202 117.597 722.227C117 722.264 116.425 722.266 115.724 722.26L114.605 722.266C114.093 722.273 113.486 722.273 112.862 722.247C112.308 722.227 111.744 722.173 111.242 722.125C111.105 722.111 110.973 722.099 110.846 722.087L109.93 722.005L109.929 722.005C109.351 721.958 108.774 721.911 108.186 721.827C107.644 721.757 107.119 721.658 106.605 721.561C106.543 721.55 106.482 721.538 106.421 721.527L105.424 721.335C104.807 721.219 104.19 721.103 103.557 720.961C102.974 720.816 102.429 720.662 101.904 720.504L100.859 720.205C100.295 720.056 99.6513 719.877 99.0051 719.649C98.4928 719.48 97.9907 719.277 97.4932 719.077C97.3562 719.022 97.2195 718.966 97.0831 718.912L96.1874 718.557C95.5555 718.306 94.7954 717.997 94.2578 717.753C92.9454 717.143 91.6738 716.494 90.4626 715.801L-84.6762 615.547C-107.509 602.477 -115.035 573.975 -101.456 551.998C-87.877 530.021 -58.2578 522.766 -35.4252 535.836L51.2782 585.467L12.5311 462.864C9.15132 450.102 11.0948 437.642 18.1903 426.742C25.1388 415.947 36.072 408.522 48.9845 405.828C74.0198 400.605 99.635 416.23 106.086 440.661L136.462 532.732L211.812 410.78C224.375 390.447 224.811 365.46 212.95 345.54ZM400.167 196.321C439.969 219.105 453.096 268.822 429.425 307.133C405.754 345.444 354.102 358.079 314.3 335.295C274.497 312.511 261.37 262.794 285.041 224.483C308.712 186.172 360.364 173.537 400.167 196.321Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    height: 80%;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    top: 0;
    z-index: 0;
  }
  .title {
    text-align: center;
    margin-bottom: 6rem;
    position: relative;
    z-index: 2;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6.5rem;
    @media screen and (min-width: $large) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 3rem;
    }
    .content {
      background-color: #fff;
      border-radius: 1.5rem;
      padding: 2rem;
      box-shadow: 0 0 24px #c6b6a980;
      position: relative;
      &.single {
        @media screen and (min-width: $large) {
          width: 60%;
        }
      }
      @media screen and (min-width: $large) {
        flex-direction: row;
        width: calc(100% / 12 * 5);
        padding: 3rem;
      }
      .logo {
        position: absolute;
        box-shadow: 0px 0px 24px 0px #c6b6a980;
        width: 13rem;
        height: 5.4rem;
        border-radius: 1rem;
        padding: 1rem;
        right: 0;
        top: -3.5rem;
        background-color: #fff;
        @media screen and (min-width: $large) {
          width: 16.5rem;
          height: 7rem;
          top: -4rem;
          right: -3rem;
        }
      }
      .content-title {
        text-align: center;
      }
      .price {
        background-color: $color11;
        border-radius: 0.5rem;
        width: 100%;
        text-align: center;
        padding: 0.5rem 2rem;
        margin-bottom: 1rem;
      }
      .text-content {
        padding: 2rem 0;
        border-top: solid 1px $color4;
        border-bottom: solid 1px $color4;
        margin-top: 1.5rem;
        ul.p {
          margin-bottom: 0;
        }
      }
      .list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        .list-item {
          display: flex;
          gap: 1rem;
          align-items: center;
          &:before {
            content: "";
            height: 3rem;
            width: 3rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            flex-shrink: 0;
          }
          &.sub-list {
            display: block;
            padding-left: 4rem;
            position: relative;
            &:before {
              position: absolute;
              left: 0;
            }
          }
        }
      }
      .cta {
        margin: 2rem auto 0;
      }
    }
  }
  &.alt {
    .content-wrapper .content .price {
      background-color: $color4;
    }
    .highlight {
      background-color: $color1;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      text-align: center;
      width: fit-content;
      margin: 0 auto;
      position: relative;
      // &::after {
      .more {
        // content: "";
        cursor: pointer;
        right: 0;
        top: 50%;
        position: absolute;
        transform: translate(50%, -50%);
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23FF8F6D'/%3E%3Cpath d='M13.4779 17.7033C13.4779 17.1429 13.5179 16.6692 13.598 16.2822C13.6914 15.8819 13.8515 15.5349 14.0784 15.2413C14.3186 14.9344 14.5254 14.7076 14.6989 14.5608C14.8724 14.414 15.1593 14.1938 15.5596 13.9003C15.9733 13.6067 16.2535 13.3999 16.4003 13.2798C16.5604 13.1463 16.7272 12.9261 16.9007 12.6192C17.0875 12.3123 17.1809 11.9654 17.1809 11.5784C17.1809 10.9779 16.9807 10.5042 16.5804 10.1572C16.1934 9.79694 15.6864 9.6168 15.0592 9.6168C14.3119 9.6168 13.7114 9.84364 13.2577 10.2973C12.804 10.7377 12.5705 11.3449 12.5572 12.1188H9.97508C10.0018 10.731 10.4555 9.58344 11.3362 8.67603C12.2302 7.76863 13.4646 7.31493 15.0392 7.31493C16.5337 7.31493 17.7147 7.70859 18.582 8.49589C19.4628 9.28319 19.9031 10.284 19.9031 11.4983C19.9031 11.9654 19.8497 12.3857 19.743 12.7593C19.6362 13.133 19.4694 13.4599 19.2426 13.7401C19.0291 14.0204 18.8422 14.2339 18.6821 14.3806C18.522 14.5274 18.2951 14.7143 18.0016 14.9411C17.8681 15.0479 17.6746 15.1946 17.4211 15.3815C17.1809 15.5549 17.0141 15.675 16.9207 15.7417C16.8406 15.8085 16.7205 15.9152 16.5604 16.062C16.4003 16.1954 16.2935 16.3089 16.2401 16.4023C16.2001 16.4823 16.1467 16.5958 16.08 16.7426C16.0133 16.876 15.9666 17.0228 15.9399 17.1829C15.9266 17.3297 15.9199 17.5032 15.9199 17.7033H13.4779ZM13.2377 21.8867V18.9844H16.1601V21.8867H13.2377Z' fill='white'/%3E%3C/svg%3E");
        height: 3rem;
        width: 3rem;
        background-size: contain;
      }
      em {
        font-weight: 700;
        font-size: 2rem;
      }
      p {
        margin: 0;
      }
    }
    .hidden-text {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      .more-text {
        margin: 0;
        padding-top: 1.5rem;
      }
    }
  }
}
