.reviews-bloc {
  margin: 10.5rem 0;
  border-radius: 20px;
  padding: 7.5rem 0;
  @media screen and (min-width: 576px) {
    // padding: 8.5rem 0;
    margin: 18rem 0;
  }
  .title {
    text-align: center;
  }
  .reviews-container {
    .review-item {
      max-width: 270px;
      &:not(.swiper-slide-active) {
        .content-container {
          transform: scale(0.75);
          opacity: 0.7;
        }
      }
      .content-container {
        transition: all 0.3s ease;
        transform: scale(1);
        opacity: 1;
      }
      .content {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .id {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.7rem;
      }
      .picture {
        height: 70px;
        width: 70px;
        border-radius: 100%;
        border: solid 1px $color4;
        flex-shrink: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::after {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_i_813_1913)'%3E%3Cpath d='M17.0557 20.7629L19.8007 10.7579C19.8437 10.6011 19.8508 10.4363 19.8215 10.2762C19.7922 10.1162 19.7273 9.96533 19.6318 9.8355C19.5364 9.70568 19.413 9.60043 19.2714 9.52803C19.1298 9.45563 18.9738 9.41805 18.8157 9.41824H12.9474C12.8633 9.41824 12.7803 9.39869 12.7045 9.36105C12.6287 9.3234 12.5622 9.26862 12.5098 9.2008C12.4574 9.13299 12.4206 9.05387 12.402 8.96934C12.3834 8.88482 12.3836 8.79707 12.4025 8.71262L12.6581 7.5731C12.8922 6.52784 12.9674 5.45098 12.881 4.38202L12.834 3.80121C12.7836 3.1781 12.5204 2.59356 12.0912 2.15143C11.6985 1.74711 11.1661 1.51985 10.6109 1.51953H10.4882C10.1524 1.51953 9.84312 1.70699 9.68057 2.00925L8.32137 4.52894C7.71209 5.65903 6.80377 6.58761 5.70214 7.2066L2.29826 9.11809C2.13689 9.20881 2.00224 9.34267 1.9085 9.50558C1.81477 9.6685 1.76541 9.85444 1.76563 10.0438V20.4764C1.76563 20.7558 1.87334 21.0236 2.06506 21.2211C2.25679 21.4186 2.51682 21.5296 2.78796 21.5296H16.0717C16.2943 21.5295 16.5108 21.4546 16.6883 21.3162C16.8658 21.1779 16.9952 20.9836 17.0557 20.7629Z' stroke='%23B4CFCB' stroke-width='2.58194' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_813_1913' x='0.476562' y='0.230469' width='20.6562' height='23.2353' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='0.645486'/%3E%3CfeGaussianBlur stdDeviation='1.03278'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_813_1913'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
          height: 23px;
          width: 22px;
          position: absolute;
          top: 0;
          right: -10px;
        }
        img {
          height: 56.2px;
          width: 56.2px;
          object-fit: cover;
          border-radius: 100%;
        }
      }
      .description {
        margin: 0;
      }
    }
  }
}
