.static-bloc {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 4.5rem 2rem;
  margin: 10.5rem 0;
  .heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .illustration {
      width: 100%;
      max-height: 28rem;
    }
  }
  @media screen and (min-width: $medium) {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    padding: 10.5rem calc(100% / 12);
    margin: 18rem 0;
    .text {
      width: 50%;
      flex-shrink: 0;
    }
  }
}
