.static-bloc {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 4.5rem 2rem;
  margin: 10.5rem 0;
  gap: 2rem;
  @media screen and (min-width: $extra-large) {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    padding: 6.5rem calc(100% / 12);
    // margin: 14rem 0;
    .text {
      width: 50%;
      flex-shrink: 0;
    }
  }
  .heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .subtitle {
      margin: 0;
    }
    .illustration {
      width: 100%;
    }
    .cta {
      margin: 0;
    }
  }
}
