.tabs-switch {
  margin: 10.5rem 0;
  padding: 7.5rem 0;
  @media screen and (min-width: $large) {
    padding: 10.5rem 0;
    padding: 18rem 0;
  }
  .tabs-wrapper {
    margin: 5rem 0 3rem;
    @media screen and (min-width: $large) {
      display: flex;
      justify-content: center;
    }
    .tab-container {
      width: 100%;
      display: flex;
      @media screen and (min-width: $large) {
        width: fit-content;
        display: block;
      }
      &:nth-child(even) {
        transform: rotate(-4.69deg);
      }
      &:nth-child(odd) {
        justify-content: flex-end;
        transform: rotate(6.76deg);
      }
    }
    .tab {
      width: calc(100% / 4 * 3);
      color: #fff;
      border: solid 1px $color4;
      border-radius: 1rem;
      padding: 3rem 2rem 1rem;
      position: relative;
      cursor: pointer;
      @media screen and (min-width: $large) {
        width: 100%;
      }
      &.open {
        border-color: #fff;
        background-color: #fff;
        color: $color1;
      }

      &:before {
        content: "";
        position: absolute;
        left: 2rem;
        top: 0;
        transform: translateY(-50%);
        height: 4.2rem;
        width: 4.2rem;
      }
    }
  }
  .dots-container {
    justify-content: space-between;
  }
  .content-container {
    display: none;
    &.open {
      display: block;
      @media screen and (min-width: $large) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        margin-top: 5rem;
      }
    }
  }
}
