.timeline-v1 {
  margin: 10.5rem 0;
  @media screen and (min-width: $small) {
    margin: 18rem 0;
  }
  &.alt {
    .content {
      background-color: #fff;
      box-shadow: 0px 0px 24px 0px #c6b6a980;
      padding-top: 10.5rem;
      position: relative;
    }
  }
  .none {
    display: none;
  }
  .content {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    border-radius: 2rem;
  }
  .free {
    padding: 1rem 2rem;
    box-shadow: 0px 0px 24px 0px #c6b6a980;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: $color7;
    transform: translate(-50%, -50%);
  }
  .buttons-container {
    margin: 3rem auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $small) {
      flex-direction: row;
      width: fit-content;
    }
    .button {
      font-size: 1.7rem;
      font-weight: 700;
      width: fit-content;
      color: $color1;
      padding: 0.7rem 1.5rem;
      border-radius: 2rem;
      opacity: 0.4;
      background-color: $color10;
      cursor: pointer;
      &.open {
        opacity: 1;
      }
    }
  }
  .cta {
    margin: 0 auto 4.5rem;
  }
  .custom-dots {
    position: relative;
    @media screen and (min-width: $small) {
      padding: 0 calc(100% / 7);
    }
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color4;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .slider {
    overflow: hidden;
    margin: 0 2rem;
    @media screen and (min-width: $small) {
      margin-top: 5rem;
    }
    .slide {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $small) {
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        padding: 0 calc(100% / 7);
        align-items: flex-start;
      }
      .text-content {
        @media screen and (min-width: $small) {
          width: calc(100% / 7 * 4);
          flex-shrink: 0;
        }
      }
      .illustration {
        width: 100%;
        aspect-ratio: 334/193;
        margin: 0;
        max-width: 100%;
        @media screen and (min-width: $small) {
          width: calc(100% / 7 * 3);
          aspect-ratio: 360/211;
          flex-shrink: 0;
        }
        img {
          border-radius: 1.5rem;
        }
      }
    }
  }
}
