.title-scroll {
  padding-top: 6rem;
  @media screen and (min-width: $large) {
    // padding-top: 12rem;
  }
  .content-container {
    height: 20rem;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: $large) {
      height: 40rem;
    }
  }
  .content {
    font-weight: 700;
    font-size: 10rem;
    color: #fff;
    -webkit-text-fill-color: rgba($color: #000000, $alpha: 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    position: absolute;
    top: 0;
    display: block;
    white-space: nowrap;
    @media screen and (min-width: $large) {
      font-size: 25rem;
    }
  }
}
