.title-scroll {
  padding-top: 16rem;
  .content-container {
    height: 40rem;
    position: relative;
    overflow: hidden;
  }
  .content {
    font-weight: 700;
    font-size: 25rem;
    color: #fff;
    -webkit-text-fill-color: rgba($color: #000000, $alpha: 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    position: absolute;
    top: 0;
    display: block;
    white-space: nowrap;
  }
}
