@import "./_includes/_normalize.scss";
@import "./_includes/_colors.scss";
@import "./_includes/_colors.scss";
@import "./_includes/_fonts.scss";
@import "./_includes/_fonts.scss";
@import "./_includes/_texts.scss";
@import "./_includes/_ctas.scss";
@import "./_includes/containers";
@import "./_includes/sizes";
@import "./_includes/images";

p,
ul {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color9;
  position: relative;
}

* {
  box-sizing: border-box;
}

.before-footer {
  padding-bottom: 80rem !important;
  @media screen and (min-width: $large) {
    padding-bottom: 50rem !important;
  }
}
